@import 'webapp/style/vars';
@import './SurveyFormVars';
@import './react-grid-layout';

.survey-form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.survey-form {
  display: flex;
  height: calc(100% - #{$formHeaderHeight});

  &.form-preview {
    border: $orange 8px solid;
    position: relative;

    .preview-label {
      position: absolute;
      background: $orange;
      color: white;
      top: calc(-8px - 32px);
      padding: 8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .react-grid-layout {
    .react-grid-item.cssTransforms {
      //react-grid-item css animation are disabled on first render
      transition-property: none;
    }

    .react-grid-item > .react-resizable-handle {
      display: none;
    }

    &.mounted {
      //react-grid-item css animation are enabled after component didMount
      .react-grid-item.cssTransforms {
        transition-property: transform;
      }
    }
  }

  .split {
    width: 100%;
  }

  .survey-form__node-def-page {
    height: 100%;
    width: 100%;
  }
}

// Survey form edit mode grid style
.survey-form.edit {
  .react-grid-item {
    border: $formBorderEdit;

    .react-resizable-handle {
      display: block;

      &::after {
        border-right: 2px solid $greyBorder;
        border-bottom: 2px solid $greyBorder;
      }
    }
  }
}

// nodedef-tree-select
.survey-form {
  .survey-form__sidebar {
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .nodedef-tree-select {
      flex: 1;
      border: $formBorder;
      background-color: $white;
    }

    .sidebar-bottom-bar {
      width: 100%;
      justify-content: space-between;
    }
  }

  &.edit {
    .nodedef-tree-select {
      border: $formBorderEdit;
    }
  }
}
