@import 'webapp/style/vars';

$formBorder: 1px solid $greyBorder;
$formBorderEdit: 1px dashed $greyBorder;
$formBgColorGrey: rgba($grey, 0.15);
$formHeaderHeight: 40px;
$formTableRowHeaderHeight: 40px;
