@import '~@webapp/style/vars';

$dataTableMarginTop: 43px;
$rowHeaderHeight: 45px;

.data-query {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-column-gap: 10px;
  justify-content: center;
  height: 100%;
}

.data-query.node-def-selectors-off {
  grid-template-columns: 1fr;
}

.data-query__table {
  &.edit {
    .table__content {
      border: 1px dashed $greyBorder;
    }

    input {
      border-bottom: none;
    }

    .survey-form__node-def-table-cell-header {
      background-color: transparent;
      grid-row-gap: 0.5rem;
    }

    .table__cell.readonly {
      background-color: $greyBorder;
    }
  }

  .table__header {
    .data-operations {
      display: grid;
      grid-template-columns: repeat(5, auto);
      align-self: flex-end;
      border-top: 1px solid $greyBorder;
      border-left: 1px solid $greyBorder;
      border-right: 1px solid $greyBorder;

      .btn {
        border: none;
        padding: 0.6rem 1rem;

        &.highlight {
          background-color: $yellowHighlight;
        }
      }
    }
  }

  .table__rows {
    overflow-y: hidden;
    overflow-x: auto;
    height: calc(100% - #{$dataTableMarginTop});
  }

  .table__data-rows {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - #{$rowHeaderHeight + 2px});
    top: $rowHeaderHeight + 2px;
  }

  .table__row-header {
    position: absolute;
    height: $rowHeaderHeight;

    .table__cell {
      display: flex;
      flex-direction: column;
    }
  }

  .table__row {
    .btn-edit {
      border: none;

      &:hover {
        color: $orange;
      }
    }
  }

  .table__row,
  .table__row-header {
    display: flex;

    > div {
      text-align: center;
    }
  }

  .table__cell {
    //display: grid;
    //grid-template-columns: 1fr 40px; WHY?
    overflow: hidden;
    width: 100%;

    .form-input {
      overflow: hidden;
    }

    .error-badge {
      position: relative;
      background-color: rgba($red, 0.4);
      padding: 0;
      font-weight: normal;

      .form-input:focus {
        background-color: rgba($red, 0.3);
      }
    }
  }

  .table__inner-cell {
    display: flex;
    flex-wrap: wrap;
  }
}
