.data-query {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-column-gap: 10px;
  justify-content: center;
  height: 100%;
}

.data-query.node-def-selectors-off {
  grid-template-columns: 1fr;
}
