@import 'webapp/style/vars';

.data-query-button-bar {
  display: flex;
  flex-flow: wrap;
  column-gap: 10px;
  row-gap: 4px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  .mode-form-item {
    display: flex;
    width: 23rem;
  }

  button {
    &.highlight {
      background-color: $yellowHighlight;
    }
  }

  .display-type-button-group-wrapper {
    display: flex;
    gap: 1rem;
  }
}
