@import 'webapp/style/vars';

.data-query-button-bar {
  display: flex;
  flex-flow: wrap;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .mode-form-item {
    display: flex;
    width: 23rem;
  }

  button {
    &.highlight {
      background-color: $yellowHighlight;
    }
  }
}
