.button-menu__button {
  display: flex;
  align-items: center;

  .button-menu__button-icon {
    display: inline-block;
    transform: rotate(180deg);
  }
}

.MuiMenu-paper {
  padding: 0.2rem;

  .MuiMenuItem-root.button-menu__item {
    padding: 0 0.4rem;

    button {
      width: 100%;
      justify-content: left;
    }
  }
}
