.button-menu__button {
  display: flex;
  align-items: center;

  .button-menu__button-icon {
    display: inline-block;
    transform: rotate(180deg);
  }
}

.MuiMenuItem-root.button-menu__item {
  padding: 0;

  button {
    width: 100%;
    text-align: left;
    padding: 16px 24px;
  }
}
