.processing-chain,
.processing-step,
.processing-step__calculation-editor {

  padding-top: 2rem;
  position: relative;

  .form-item {
    grid-template-columns: .2fr .8fr;
  }

  .btn-delete {
    margin-top: 30px;
    justify-self: center;
    min-width: 150px;
  }

}