.processing-chain,
.processing-step,
.processing-step__calculation-editor {

  padding-top: 2rem;
  position: relative;

  .form-item {
    grid-template-columns: .2fr .8fr;
  }

  .button-bar {
    margin-top: 30px;
  }

}