.chain {
  display: grid;
  grid-template-rows: 1fr 60px;

  .form {
    grid-row-gap: 2rem;
  }

  .button-bar {
    align-self: center;
  }

  .btn-rstudio {
    position: absolute;
    right: 0;
  }
}

.chain,
.step,
.calculation {

  .form-item {
    grid-template-columns: 0.2fr 0.8fr;
  }
}
