@import '~@webapp/style/vars';

.app-module {
  .chain {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    padding-bottom: 2rem;

    .form-item {
      grid-template-columns: 0.2fr 0.75fr;
    }

    .dropdown,
    .dropdown-wrapper {
      width: 30rem;
    }

    .button-bar {
      align-self: center;

      .chain-summary-download-btn {
        position: absolute;
        left: 0;
      }
    }

    .rstudio-fieldset {
      margin: auto;

      .content {
        .form-item {
          display: flex;
        }
        display: flex;
        gap: 3rem;
      }
    }

    .records-count-wrapper,
    .records-count {
      display: flex;
      gap: 2rem;
    }

    .p-value-dropdown {
      width: 7rem;
    }

    .nonResponseBiasCorrectionContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      .nonResponseBiasCorrectionTip {
        color: red;
      }
    }
  }
}
