@import '~@webapp/style/vars';

.app-module {
  .chain {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    padding-bottom: 2rem;

    .form-item {
      grid-template-columns: 0.2fr 0.75fr;
    }

    .stratum-attribute-dropdown {
      width: 30rem;
    }

    .clustering-entity-dropdown,
    .clustering-entity-form-item > .entity-selector {
      width: 30rem;
    }

    .button-bar {
      align-self: center;

      .chain-summary-download-btn {
        position: absolute;
        left: 0;
      }
    }

    .btn-rstudio-container {
      position: absolute;
      right: 16px;
      display: flex;
      flex-direction: column;
      .btn-rstudio-container-message {
        max-width: 120px;
      }
    }

    .sampling-strategy-dropdown,
    .post-stratification-attribute-dropdown,
    .reporting-data-node-def-dropdown {
      width: 30rem;
    }

    .p-value-dropdown {
      width: 7rem;
    }

    .category-selector {
      width: 44rem;
    }

    .nonResponseBiasCorrectionContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .nonResponseBiasCorrectionTip {
        color: red;
      }  
    }

  }
}
