@import '~@webapp/style/vars';

.charts {
  display: flex;
  flex-direction: row;
  background: $white;
  border-radius: 4px;
  border: 1px solid $greyBorder;
}

.charts_panel__container {
  width: 350px;
  overflow-y: scroll;
  border-right: 1px solid $greyBorder;
  flex-direction: column;
  display: flex;
}

.charts_chart__container {
  flex: 1;
}
