@import 'webapp/style/vars';

.app-module > :first-child.validation-report {
  overflow-y: hidden;

  .footer {
    position: absolute;
    bottom: 0;
  }

  .btn-csv-export {
    width: fit-content;
    margin: auto;
  }
}

.validation-report__table {
  .table__row {
    height: unset;
    padding: 6px 0;
  }
}

.validation-report__message {
  justify-self: left;

  .validation-field_message {
    color: $black;
  }
}
