@use '~@webapp/style/vars' as *;

.app-module> :first-child.validation-report {
  overflow-y: hidden;

  .footer {
    position: absolute;
    bottom: 0;
  }
}

.validation-report__table {
  .table__row {
    height: unset;
    padding: 6px 0;
    gap: 1rem;
  }
}

.validation-report__header-left {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  button.highlight {
    background-color: $yellowHighlight;
  }

  .btn-csv-export {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
  }
}

.validation-report__attributes-filter {
  position: relative;
}

.validation-report__attributes-filter-panel {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  z-index: 5;
  width: 420px;
  max-height: 480px;
  overflow: auto;
  background-color: $white;
  border: $tableRowBorder;
  border-radius: 4px;
  box-shadow: 0 6px 14px rgba($black, 0.2);
  padding: 0.75rem;


  .btn-checkbox {
    margin-left: 0;
    height: 20px;
    width: 30px;

    &.select-all {
      width: fit-content;
    }

  }

  .nodedef-tree-select {
    margin-top: 0.25rem;
  }
}

.validation-report__message-type-filter {
  position: relative;
}

.validation-report__message-type-filter-panel {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  z-index: 5;
  min-width: 260px;
  width: max-content;
  background-color: $white;
  border: $tableRowBorder;
  border-radius: 4px;
  box-shadow: 0 6px 14px rgba($black, 0.2);
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .btn-checkbox {
    margin-left: 0;
    height: 20px;
    width: fit-content;
  }

  .btn-checkbox-label {
    white-space: nowrap;
  }

  .validation-report__message-type-filter-panel-divider {
    border-top: $tableRowBorder;
    margin: 0.125rem 0;
  }

  .validation-report__message-type-filter-panel-items {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 1rem;
  }
}

.validation-report__row-num-col {
  justify-self: right;
}

.validation-report__path-col,
.validation-report__message {
  justify-self: left;
}

.validation-report__message {
  .validation-field_message {
    color: $black;
  }
}