@import 'webapp/style/vars';

.validation-report {
  display: grid;
  grid-template-rows: 1fr;

  .btn-back {
    margin: auto;
  }
}

.validation-report__table {
  .table__row {
    height: unset;
    padding: 6px 0;
  }
}

.validation-report__message {
  justify-self: left;

  .validation-field_message {
    color: $black;
  }
}
