@import 'webapp/style/vars';

.chain-node-defs-attributes {
  display: grid;
  grid-row-gap: 2rem;
  align-items: start;
}

.chain-node-defs-attributes__header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 64px;
  align-items: center;
}

.chain-node-defs-attributes__header-label {
  font-weight: 600;
}

.chain-node-defs-attributes__header-buttons {
  background-color: rgba($greyBorder, 0.6);
  display: flex;
  align-items: center;
  padding: 4px 8px;

  div {
    margin-right: 8px;
  }

  button {
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    min-width: 144px;

    .icon {
      font-size: 0.8rem !important;
    }

    .icon-left {
      margin-right: unset;
    }
  }
}
