@import 'webapp/style/vars';

.blocks-builder {
  
  flex-direction: column;
  flex: 1;
  display: none;
  
  &.visible {
    display: flex;
  }

}

.block {
  display: flex;
  flex-direction: column;
}

.block__title {
  font-size: 0.9rem;
  color: $blue;
}

.block__subtitle {
  font-size: 0.7rem;
  color: $black;
}

.block__number-options{
  font-size: 0.6rem;
  color: $black;
}