@use "~@webapp/style/vars" as *;

header {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  padding: .5rem 0;
  display: flex;
  align-items: center;

  .separator {
    position: absolute;
    top: 0;
    width: 50px;
    height: 2px;
    background-color: $blue;
  }
}