@import '~@webapp/style/vars';

$borderRadius: 2px;

.modal-content {
  position: relative;
  display: flex;
  width: auto;
  flex-direction: column;
  pointer-events: auto;
  background-color: $grey;
  background-clip: padding-box;
  border: none;
  border-radius: $borderRadius;
  outline: 0;
  margin: 10vh 20vw auto;
  padding: 1rem 2rem;
  box-shadow: $shadow3;
}

.modal-header {
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;

  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal-header-center {
  flex: 1 1 auto;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding-top: 3rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  gap: 2rem;
  //border-top: @ui-thin-border;
}

.modal-footer__item {
  margin-left: 5px;
  margin-right: 5px;
}
