@use "~@webapp/style/vars" as *;

.profile-picture {
  height: 220px;
  width: 220px;
  padding: 10px;
  border: $profilePictureBorder;
  border-radius: 2px;
  background-color: $white;
}

.profile-picture-thumbnail {
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 100%;
  border: 1px solid $greyBorder;
}