.progress-bar[role='progressbar'] {
  height: 0.5rem;
}

.progress-bar-with-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  .progress-bar {
    width: 100%;
  }
}
