@import '~@webapp/style/vars';

.tooltip {
  &:hover {
    cursor: default;
    &.hoverable {
      cursor: pointer;
    }
  }
}

.tooltip__message {
  background-color: $yellow;
  padding: 1rem;
  opacity: 0.97;
  font-weight: 600;
  font-size: 0.85rem;
  color: black;
  visibility: visible;
  position: fixed;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid $yellow;
  z-index: $zIndex20Dropdown;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 1rem;
    margin-left: -0.5rem;
    border: 0.5rem solid;
    border-color: transparent transparent $yellow transparent;
  }
}

.tooltip-error {
  @extend .tooltip;

  .form-input {
    border-bottom: 2px solid rgba($red, 0.6);
  }

  .btn-checkbox .icon {
    border: 2px solid rgba($red, 0.6);
  }

  .MuiTextField-root fieldset {
    border: 1px solid red;
  }
}

.tooltip__message-error,
.tooltip__message-warning,
.tooltip__message-info {
  @extend .tooltip__message;

  color: white;
  border: 1px solid;
  opacity: 0.97;

  &:after {
    border-color: transparent;
  }
}

.tooltip__message-error {
  background-color: $red;
  border-color: $red;

  &:after {
    border-bottom-color: $red;
  }
}

.tooltip__message-warning {
  background-color: $orange;
  border-color: $orange;

  &:after {
    border-bottom-color: $orange;
  }
}

.tooltip__message-info {
  background-color: $greyAppBg;
  border-color: $greyAppBg;

  &:after {
    border-bottom-color: $greyAppBg;
  }
}
