@import '~@webapp/style/vars';

.validation-field_messages {
  display: flex;
  flex-direction: column;

  .validation-field_message {
    color: white;

    .icon {
      padding-right: 0.2em;
      font-weight: 600;
    }

    &.warning .icon {
      color: $orange;
    }

    &.error .icon {
      color: $red;
    }
  }

  .validation-field-message__text {
    display: inline-block;
  }
}
