@import "~@webapp/style/vars";

.home-dashboard__survey-info {
  padding: 2rem;

  .survey-status {
    font-size: .7rem;
    text-transform: uppercase;
    padding: 0 .5rem;
    color: lighten($black, 20%);
    margin-left: 1rem;
  }

  a {
    margin-right: 1rem;
  }

}