@import 'webapp/style/vars';

.block-input {
  input {
    padding: inherit;
  }

  .range-container {
    justify-content: space-between;
    display: flex;
    .basic-range {
      -webkit-appearance: none;
      border-radius: 4px;
      border: 1px solid $greyBorder;
      height: 7px;
      margin: auto 8px;
      margin-top: 8px;
      background: rgba(255, 255, 255, 0.6);
      background-image: linear-gradient($blue, $blue);
      background-repeat: no-repeat;
    }

    .basic-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: $blue;
      cursor: ew-resize;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
    }

    .basic-range::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      box-shadow: none;
      border: none;
      background: transparent;
    }
  }
}
