@import 'webapp/style/vars';

.block-header {
  display: flex;
  padding: 4px 0px;
  .block-header-text {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .block-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.block-container {
  margin-bottom: 12px;
  margin-top: 12px;

  .block {
    padding-top: 4px;
  }
  .block-header {
    padding: 8px;
  }
  .block-button-container{
    button {
      border: none;
    }
  }
}

.block-container__separator {
  margin: 2px 0px;
  background: $greyBorder;
  opacity: 0.5;
}

.block-container__blocks {
  padding: 0px 8px;
  display: none;
  margin-left: 8px;
  &.visible {
    display: block;
  }
}
