@import 'webapp/style/vars';

.taxonomy {
  display: grid;
  grid-template-rows: 4rem 1fr 3rem;
  align-items: center;
  height: 100%;
}

.taxonomy__table-container {
  align-self: stretch;
  .table {
    align-self: start;
    height: 100%;
  }
}

.taxonomy__header {
  display: grid;
  grid-template-columns: 0.1fr 0.7fr 0.2fr;
  position: relative;

  .form-item {
    height: inherit;
  }

  .labels-editor.with-label {
    grid-template-columns: 0.3fr 0.65fr;
    grid-column-gap: 0.5rem;
  }
}
