@use '~@webapp/style/vars' as *;

.taxonomy {
  display: grid;
  grid-template-rows: auto 1fr 3rem;
  align-items: center;
  height: 100%;

  .taxonomy__header {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .form-item,
    .labels-editor.with-label {
      display: flex;
      height: inherit;
      width: 40rem;

      .form-label,
      .labels-editor-label {
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
        width: 15rem;
      }

      .form-input-container,
      .labels-editor__labels,
      .labels-editor__label {
        width: 20rem;
      }
    }
  }

  .taxonomy__table-container {
    align-self: stretch;
    width: calc(100vw - 260px);

    .table {
      align-self: start;
      height: 100%;
      // width: calc(100vw - 260px);

      .table__content {
        overflow-x: auto;

        .table__row-header {
          display: inline-grid;
        }

        .table__rows {
          overflow-x: hidden;
          right: inherit;
        }
      }
    }
  }
}

.taxonomy.onlyRequiredColumns {
  .table__content {
    .table__row-header,
    .table__rows {
      width: calc(100% - 10px);
    }
  }
}
