@import 'webapp/style/vars';

.date-input-container {
  padding: 0.5rem 1rem;
  margin: auto;
}

.label-container {
  display: none;
}

.input-container {
  .date-input {
    font-size: 0.9rem;
    line-height: 1;
    color: $black;
    padding: 0;
    box-shadow: none;

    &::placeholder {
      color: $black;
      text-transform: uppercase;
    }
  }
}

.separator {
  font-size: 0.9rem;
  line-height: 1;
  color: $black;
  margin: auto;
}
