@import '~@webapp/style/vars';

.map-kml-uploader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  pointer-events: all;
  margin-left: 2rem;
  width: 700px;

  .file-select-wrapper {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.5rem;
    background-color: rgba($white, 1);
  }

  .slider-wrapper {
    background-color: rgba($white, 0.4);
    width: 100%;

    input {
      width: 100%;
      appearance: auto;
      padding: 0;
    }

    datalist {
      display: flex;
      justify-content: space-between;
      font-size: small;
      width: 100%;
    }
  }
}
