@import 'leaflet/dist/leaflet.css';
@import 'react-leaflet-markercluster/dist/styles.min.css';

.panel-right {
  &.map-panel > * {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.map-wrapper {
  height: 100%;

  .location-edit-info,
  .button-bar {
    height: 2rem;
    text-align: center;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;

    .leaflet-top.leaflet-right,
    .leaflet-control-layers.leaflet-control {
      z-index: 450;
    }

    .leaflet-control-layers-toggle {
      background-image: url('/img/map-layers-toggle.png');
    }

    .leaflet-popup-content {
      width: 190px;

      ul {
        margin-block-start: 0;
        padding-inline-start: 20px;
      }
    }

    .layer-item {
      .layer-icon {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid blue;
      }
    }
  }

  &.editable {
    .leaflet-container {
      height: calc(100% - 4rem);
    }
  }

  .leaflet-div-icon {
    background: none !important;
    border: none !important;
  }

  .cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
