@import '~@webapp/style/vars';

.map-layer-selector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
  margin-left: 2rem;
  left: 20%;
  width: 60%;

  .period-select-wrapper-left {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.5rem;
    background-color: rgba($white, 0.4);
  }
  .period-select-wrapper-right {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.5rem;
    background-color: rgba($white, 0.4);
  }

  .slider-wrapper {
    background-color: rgba($white, 0.4);
    width: 100%;

    input {
      width: 100%;
      appearance: auto;
      padding: 0;
    }

    datalist {
      display: flex;
      justify-content: space-between;
      font-size: small;
      width: 100%;
    }
  }
}
