@import "../../../../../style/vars";

$rowHeaderHeight: 45px;

.data-query {
  display: grid;
  grid-template-columns: 240px 1fr 5px;
  grid-column-gap: 10px;
  justify-content: center;
  height: 100%;
}

.data-query__table {
  position: relative;

  .table__header {
    height: 80px;

    .data-operations {
      display: flex;
      flex-direction: column;

      .filter-container, .sort-container {
        display: flex;
        align-items: center;
      }

      .sort-container {
        margin-top: 5px;
      }
    }
  }

  .table__rows {
    overflow-y: hidden;
    overflow-x: auto;
    border: 1px solid rgba($white, 0.2);
  }

  .table__data-rows {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - #{$rowHeaderHeight + 2px});
    top: $rowHeaderHeight + 2px;
  }

  .table__row-header {
    position: absolute;
    height: $rowHeaderHeight;
  }

  .table__row {
    border-right: none;
    border-left: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .table__row, .table__row-header {
    display: flex;

    > div {
      text-align: center;
    }
  }

}