@import 'webapp/style/vars';

.chain-node-def {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 160px 1fr 120px repeat(2, 80px);
  grid-column-gap: 32px;
  align-items: center;
  padding: 8px 0;

  > div {
    padding-left: 8px;
  }

  &.list-header {
    margin-top: 16px;
    height: 32px;
    padding: unset;
    background-color: $black;
    color: $white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $greyBorder;
  }

  .labels-editor {
    grid-template-columns: auto 1fr;

    input {
      border: unset;
    }
  }
}

.chain-node-def__type {
  font-size: 0.8rem;

  .icon {
    font-size: 0.8rem !important;
  }
}
