.dashboard-contributors-card {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__subtitle {
    margin: 0.75rem 0 0.25rem;
    font-weight: 600;
  }
}
