@use '~@webapp/style/vars' as *;

.app__container .app-module > .survey-hierarchy {
  overflow: hidden; // scrollbars managed in .category__levels
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .survey-hierarchy__button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .survey-hierarchy__center {
    display: flex;
    flex: 1;

    .survey-hierarchy__tree {
      flex: 1;
    }

    .survey-hierarchy__attributes {
      height: 100%;

      .node-defs-selector {
        width: 20rem;
      }
    }
  }

  .attributes-selector {
    .expansion-panel__content {
      overflow-y: auto;
    }
  }
}
