@use '~@webapp/style/vars' as *;

.survey-hierarchy {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .survey-hierarchy__button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .survey-hierarchy__center {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100%;

    .survey-hierarchy__attributes {
      height: 100%;

      .node-defs-selector {
        width: 20rem;
      }
    }
  }
}