@import "../style/vars";

$gridBgColor: rgba(44, 49, 44, 0.2);

$op: .1;

.survey-dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh 75vh;
  justify-content: center;
}

.survey-info {
  display: grid;
  grid-template-columns: .7fr .3fr;
  background-color: rgba($blue1, $op);
}

.survey-info__actions {
  display: grid;
  grid-template-columns: .25fr .25fr .25fr;
  justify-content: space-evenly;
  align-items: center;
}

.survey-modules {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba($blue2, 0.1);
}

.survey-module {
  padding: 3.5rem .5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
  justify-items: center;
  align-content: start;
}

.survey-module-item {
  @extend .survey-module;
  padding: 0;
  grid-row-gap: 1rem;
}
