.data-query-chart-external-container,
.data-query-chart-wrapper {
  width: 100%;
  height: 100%;
}

.data-query-chart-external-container {
  .btn-download {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
