@import "../style/vars";
@import "../style/layout";

.app__container {
  @extend .full-screen-fixed;

  z-index: $zIndex1App;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.app-header {
  background-color: rgba($pink, 0.1);
  display: grid;
  grid-template-columns: .1fr .7fr .2fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
