@import 'webapp/style/vars';

$surveyInfoBarHeight: 140px;

.home-dashboard {
  display: flex;
  flex-direction: column;

  .tabs-wrapper {
    flex: 1;
    border-top: 1px solid $greyBorder;
    /* fix max height to get scrollbars only inside the tab content */
    max-height: calc(100vh - #{$headerHeight} - #{$surveyInfoBarHeight});

    .MuiTabs-root {
      min-width: 300px;
    }

    .tab-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 20px;

      .dashboard-chart-header,
      .dashboard-chart-subtitle {
        text-align: center;
      }

      .recharts-responsive-container {
        align-self: center;
      }
    }
  }
}
