@import 'webapp/style/vars';

.home-dashboard {
  display: flex;
  flex-direction: column;

  .tabs-wrapper {
    flex: 1;

    .MuiTabs-root {
      min-width: 300px;
    }
  }

  .tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .chart-wrapper {
      flex: 1;
    }
  }
}

.chart-container-dashboard {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
  width: 100%;
  margin-top: 20px;
}

.records-by-user {
  height: 300px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}
