@import 'webapp/style/vars';

$surveyInfoBarHeight: 140px;

.home-dashboard {
  display: flex;
  flex-direction: column;

  .tabs-wrapper {
    flex: 1;
    border-top: 1px solid $greyBorder;
    /* fix max height to get scrollbars only inside the tab content */
    max-height: calc(100vh - #{$headerHeight} - #{$surveyInfoBarHeight});

    .MuiTabs-root {
      min-width: 300px;
    }
  }

  .tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .chart-wrapper {
      flex: 1;
      overflow-y: auto;
    }
  }

  .chart-header {
    text-align: center;
  }
}

.chart-container-dashboard {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
  width: 100%;
  margin-top: 20px;
}

// .records-by-user {
//   height: 300px;
//   overflow-y: auto;
//   justify-content: center;
//   align-items: center;
// }
