@import 'webapp/style/vars';

.home-dashboard {

}

.chart-container-dashboard {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: 3em;
  width: 100%;
  margin-top: 20px;
}

.records-by-user {
  height: 300px;
  overflow-y: auto;
}