@import 'webapp/style/vars';

$surveyInfoBarHeight: 140px;

.home-dashboard {
  display: flex;
  flex-direction: column;

  .tabs-wrapper {
    flex: 1;
    border-top: 1px solid $greyBorder;
    /* fix max height to get scrollbars only inside the tab content */
    max-height: calc(100vh - #{$headerHeight} - #{$surveyInfoBarHeight});

    .MuiTabs-root {
      min-width: 300px;
    }

    .tab-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 20px;

      .dashboard-chart-header {
        text-align: center;
      }

      .dashboard-chart-wrapper {
        flex: 1;
        overflow-y: auto;
      }
    }
  }
}
