# Default web server port
ARENA_PORT=9090

# DB
## DATABASE_URL
DATABASE_URL=postgres://user:password@host:port/database
## OR
PGHOST=localhost
PGPORT=5444
PGDATABASE=arena
PGUSER=arena
PGPASSWORD=arena
## DB DEBUG OUTPUT
DEBUG=false

# temp files
TEMP_FOLDER=/tmp/arena_upload

# Email
SENDGRID_API_KEY=

# Analysis
ANALYSIS_OUTPUT_DIR=/tmp/arena_analysis

# Session
## Secret used to sign the session ID cookie 
SESSION_ID_COOKIE_SECRET=my-cookie-secret-key

# Server
## Set to true if http requests must be forwarded to https
USE_HTTPS=false

# RStudio Server
RSTUDIO_DOWNLOAD_SERVER_URL=
RSTUDIO_SERVER_URL=
RSTUDIO_PROXY_SERVER_URL=
RSTUDIO_POOL_SERVER_URL=
RSTUDIO_POOL_SERVICE_KEY=

# TEST
HEADLESS_CHROME=true

# ReCaptcha
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# MAP
## Planet Lab Maps API key
MAP_API_KEY_PLANET=

# System Admin user email address
# used to create default system admin user when DB is empty
# and to send emails to the users
ADMIN_EMAIL=
# Admin user password: used only when default system admin user is created the first time
# it MUST BE DELETED after the first startup
ADMIN_PASSWORD=
