# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarnclean

# Runtime data

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# output dir
dist/

# dev
.idea/
*.iml

# MacOS
.DS_Store

