@import "../../../../style/vars";

.home-dashboard__survey-info {
  grid-column: 1 / span 2;
  display: grid;
  align-content: end;
  padding-bottom: 1rem;

  .btn {
    padding: .5rem;
    font-size: .8rem;
  }
}

.home-dashboard__survey-info-side {
  position: absolute;
}

.home-dashboard__survey-info-status {
  position: absolute;
  right: 5vw;
  top: 1rem;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  justify-self: right;
  display: flex;
  align-items: center;

  .icon {
    margin-top: -4px;
  }

  .btn {
    margin-left: 1rem;
  }
}

.home-dashboard__survey-info-container {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;

  .survey-name {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-right: 4rem;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hr {
    width: 90%;
    height: 10px;
    margin: .5rem 0;
    background-color: rgba($pink, .15);
    justify-self: center;
  }

}