@import 'webapp/style/vars';
@import 'webapp/style/layoutMixins';

.app__container {
  background-color: $greyAppBg;
  display: flex;
  height: calc(100vh - #{$headerHeight});
}

.app-module {
  position: relative;
  flex-grow: 1;
  padding: 10px 15px;

  > :first-child {
    height: 100%;
    overflow: auto;
  }
}

.app-module__fade-enter {
  opacity: 0.01;
}

.app-module__fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.app-module__fade-exit {
  opacity: 1;
}

.app-module__fade-exit-active {
  opacity: 0.01;
  transition: opacity 150ms ease-out;
}
