@import 'webapp/style/vars';

.users-list__cell-profile-picture {
  height: $tableRowHeight;
  display: flex;
  align-items: center;
}

.users-list {
  .icon-invitation-expired,
  .icon-invitation-retry,
  .icon-invitation-link {
    width: 1rem;
    margin: 0.5rem;
  }
  .icon-invitation-expired {
    color: $red;
  }
}

.panel-right.survey-user-extra-props {
  .form {
    row-gap: 1rem;
  }
  .btn-save {
    justify-self: center;
  }
}
