@import 'webapp/style/vars';

.users-list__cell-profile-picture {
  height: $tableRowHeight;
  display: flex;
  align-items: center;
}

.users-list {
  .icon-invitation-expired {
    color: $red;
  }
  .icon-invitation-retry,
  .icon-invitation-link {
    width: 1rem;
    border: none;
    background: transparent;
    &:hover {
      color: $orange;
    }
  }
}
