.category__item {
  .extra-props {
    max-height: 180px;
    overflow-y: auto;
    padding: 10px;

    .form-item {
      width: 330px;
      height: 30px;
      grid-template-columns: 120px 200px;

      .form-label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 120px;
      }
    }

    .geometry-point-form-item-content {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      .form-item {
        grid-template-columns: 40px 1fr;
      }
    }
  }
}
