.category__item {
  .extra-props-fieldset {
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;

    .form-item {
      width: 330px;
      height: 30px;
      grid-template-columns: 120px 200px;

      .form-label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 120px;
      }
    }
  }
}
