@import 'webapp/style/vars';

.chain-list {
  padding-left: 20px;
}

.chain-list__label {
  display: flex;
  align-items: center;

  button {
    margin-left: 5px;
  }
}

.chain-list__label {
  .tooltip-error {
    color: $red;
  }
}

.form-item.chain-list__editing-step {
  grid-template-columns: 200px 1fr;
}
