@import 'webapp/style/vars';

.chain-list-item,
.processing-step__calculation {
  position: relative;
  display: flex;
  margin-left: 16px;
  padding: unset;
  border: unset;
  background-color: unset;

  &:not(:last-child) {
    padding-bottom: 10px;
  }

  &:not(:first-child) {
    padding-top: 10px;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    content: '';
    background-color: $greyBorder;
  }
}

.chain-list-item__index,
.processing-step__calculation-index {
  z-index: 1;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 -15px;
  padding-left: 1px;
  border-radius: 100%;
  border: 2px solid $greyAppBg;
  background-color: $blueLightFocus;
  color: lighten($black, 20%);
  font-weight: 600;
  font-size: 0.75rem;
  transition: all 300ms ease;
}

.chain-list-item.editing,
.processing-step__calculation.editing {
  .chain-list-item__index,
  .processing-step__calculation-index {
    background-color: $yellow;
  }
}

.chain-list-item__content,
.processing-step__calculation-content {
  position: relative;
  transition: 0.2s all;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
  align-items: center;
  height: 32px;
  padding: 0 10px;
  font-size: 0.9rem;

  .icon-edit {
    transition: 0.3s all;
    opacity: 0;
    color: lighten($black, 20%);
  }

  &:hover {
    background-color: $blueLightFocus;
    cursor: pointer;

    .icon-edit {
      opacity: 1;
    }
  }
}

.chain.step-editor-open .chain-list-item__content,
.processing-step.calculation-editor-opened .processing-step__calculation-content {
  grid-template-columns: 80px auto;
}

.chain-list-item__label,
.processing-step__calculation-label {
  display: grid;
  grid-template-columns: 1fr 24px;

  .error-badge {
    position: relative;
  }
}
