@use 'sass:color';
@use '~@webapp/style/vars' as *;

.app-header {
  height: 45px;
  display: grid;
  grid-template-columns: 70px 1fr 1fr 1fr 70px;
  align-items: center;
  border-bottom: 1px solid $greyBorder;

  &.sidebar-open {
    grid-template-columns: 200px 1fr 1fr 1fr 70px;
  }
}

.app-header__logo {
  display: flex;
  margin-left: 15px;

  img {
    width: 35px;
    height: 35px;
  }
}

.app-header__survey {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: color.adjust($black, $lightness: 20%);

  .cycle-selector {
    width: 8rem;
  }

  .survey-preferred-language {
    margin-left: 10px;
    .dropdown {
      width: 10rem;
    }
  }

  .progress-bar {
    width: 80px;
    height: 8px;
  }

  .btn-publish {
    height: 2rem;
  }
}

.app-header__survey-title {
  max-width: 30vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.app-header__loader-wrapper {
  display: flex;
  align-items: center;
  width: 3rem;
  margin-left: 10px;
}

.app-header__user-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  .app-header__btn-user {
    max-height: $headerHeight - 1px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: unset;

    .icon {
      padding: 1.2rem 0 0.7rem 0.2rem;
      transform: scaleY(-0.7);
    }
  }
}
