@import 'webapp/style/vars';

.header {
  height: 45px;
  display: grid;
  grid-template-columns: 70px 1fr 1fr 1fr 70px;
  align-items: center;
  border-bottom: 1px solid $greyBorder;

  &.sidebar-open {
    grid-template-columns: 200px 1fr 1fr 1fr 70px; 
  }
}

.header__logo {
  display: flex;
  margin-left: 15px;

  img {
    width: 35px;
    height: 35px;
  }
}

.header__survey {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: lighten($black, 20%);

  .dropdown {
    margin-left: 10px;
    grid-template-columns: 70px 20px;
    border-bottom: none;

    input {
      font-size: 0.85rem;
      color: lighten($black, 20%);
    }
  }

  .survey-preferred-language {
    grid-template-columns: 150px 20px;
  }

  .progress-bar {
    width: 80px;
    height: 8px;
  }

  .btn-publish {
    margin-left: 15px;
  }
}

.header__survey-title {
  max-width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__btn-user {
  max-height: $headerHeight - 1px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: unset;

  .icon {
    padding: 1.2rem 0 0.7rem 0.2rem;
    transform: scaleY(-0.7);
  }
}
