@import 'webapp/style/vars';

.block-input {
}

.option {
  justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 0px;
    .icon-left {
        font-size: 12px !important;
    }
    .icon{
        font-size: 12px !important;
    }

    &:hover{
      cursor: pointer;
    }
    &.selected{
      background-color: $greyBorder;
    }
}

.multi-option-with-modal {
  width: 100%;
  background-color: $grey;
    padding: 4px 8px;
    border-radius: 4px;
    &:hover{
      cursor: pointer;
    }
}

.custom-option-modal-container{
  
    background: white;
    border-radius: 4px;
    border: 1px solid #d1d1dd;
    margin: 4px;
    min-width: 300px;
    
    .custom-option-modal-header{
      padding: 8px;
      border-bottom: 1px solid $greyBorder;
    }
    .custom-option-modal-blocks{
      padding: 16px 8px;
      
    }
    .custom-option-modal-actions{
      padding: 8px;
      border-top: 1px solid $greyBorder;
    }
}
