@import 'webapp/style/vars';

.chain-node-defs-wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-column-gap: 16px;

  .entity-selector-tree {
    border-right: 1px solid $greyBorder;
  }
}

.chain-node-defs {
  display: grid;
  align-content: start;
}
