@import 'webapp/style/vars';

.chain-node-defs {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-column-gap: 32px;

  .entity-selector-tree {
    border-right: 1px solid $greyBorder;
  }
}
