@import '~@webapp/style/vars';

.node-def-edit__expressions {
  overflow-y: auto;

  //custom tooltip error
  .tooltip-error {
    .node-def-edit__expression {
      border: 1px solid rgba($red, 0.6);
      background-color: rgba($red, 0.1);
    }

    .tooltip-text {
      bottom: 20%;
    }

    &:hover {
      .tooltip-text {
        position: relative;
      }
    }
  }
}

.error {
  .node-def-edit__expressions {
    border: 1px solid rgba($red, 0.6);
    background-color: rgba($red, 0.1);
  }
}

.node-def-edit__expression-grid-item {
  display: grid;
  grid-template-columns: 120px 1fr;

  .labels-editor-label,
  .label {
    text-align: center;
    align-self: center;
    font-weight: 600;
    font-size: 0.65rem;
    background-color: rgba($blueLight, 0.3);
    padding: 0.15rem 0.3rem;

    .form-label {
      text-align: center;
      align-self: center;
      font-weight: 600;
      font-size: 0.65rem;
    }
  }
}

.node-def-edit__expression {
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid $greyBorder;

  &.placeholder {
    border: 1px dashed $greyBorder;
    background-color: rgba($grey, 0.3);
  }

  .expression-item {
    height: 35px;
    @extend .node-def-edit__expression-grid-item;

    .expression-editor__query-container {
      .btn-edit {
        padding: 0.3rem;
        margin-left: 1rem;

        .icon {
          font-size: 12px !important;
        }
      }
    }
  }

  .expression-item.severity {
    div:nth-child(2) {
      display: flex;
      align-items: center;
    }

    button {
      margin-left: 1rem;
      font-size: 0.7rem;
      font-weight: 600;
      text-transform: uppercase;

      &:nth-child(1).active {
        background-color: rgba($red, 0.7);
      }

      &:nth-child(2).active {
        background-color: rgba($orange, 0.7);
      }
    }
  }

  .labels-editor {
    @extend .node-def-edit__expression-grid-item;
  }

  .btn-delete {
    position: absolute;
    right: 0;
    top: 0;
  }
}
