@import '~@webapp/style/vars';

.node-def-edit__expressions {
  overflow-y: auto;

  //custom tooltip error
  .tooltip-error {
    .node-def-edit__expression {
      border: 1px solid rgba($red, 0.6);
      background-color: rgba($red, 0.1);
    }

    .tooltip-text {
      bottom: 20%;
    }

    &:hover {
      .tooltip-text {
        position: relative;
      }
    }
  }
}

.error {
  .node-def-edit__expressions {
    border: 1px solid rgba($red, 0.6);
    background-color: rgba($red, 0.1);
  }
}

.node-def-edit__expression-grid-item {
  display: grid;
  grid-template-columns: 120px 1fr;

  .labels-editor-label,
  .label {
    text-align: center;
    align-self: center;
    font-weight: 600;
    font-size: 0.65rem;
    background-color: rgba($blueLight, 0.3);
    padding: 0.15rem 0.3rem;

    .form-label {
      text-align: center;
      align-self: center;
      font-weight: 600;
      font-size: 0.65rem;
    }
  }
}

.node-def-edit__expression {
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid $greyBorder;

  &.placeholder {
    border: 1px dashed $greyBorder;
    background-color: rgba($grey, 0.3);
  }

  .expression-item {
    min-height: 37px;
    @extend .node-def-edit__expression-grid-item;

    .expression-editor__query-container {
      .btn-edit {
        margin-left: 1rem;
        min-width: 28px;

        .icon {
          font-size: 12px !important;
        }
      }
    }
  }

  .expression-item.severity {
    .btn-group {
      margin-left: 1rem;

      button {
        font-size: 0.7rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  .labels-editor.with-label {
    @extend .node-def-edit__expression-grid-item;
    .labels-editor-label {
      justify-content: center;
    }
    .labels-editor__labels {
      margin-left: 0.5rem;
    }
  }

  .btn-delete {
    position: absolute;
    right: 0;
    top: 0;
  }
}
