@import "~@webapp/style/vars";

.processing-chain__steps,
.processing-step__calculations {
  padding-left: 20px;
}

.processing-chain__steps-label,
.processing-step__calculations-label {
  display: flex;
  align-items: center;

  button {
    margin-left: 5px;
  }
}
