@import "~@webapp/style/vars";

.processing-chain__steps {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.processing-chain__step {
  position: relative;
  flex: 0 0 150px;
  height: 50px;
  border: 1px solid $greyBorder;
  margin: 10px 30px 10px 0;
  background-color: $white;
  transition: .2s all;

  .icon-edit {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
    color: lighten($black, 15%);
    transition: .4s all;
  }

  &:hover {
    background-color: $blueLightFocus;
    cursor: pointer;

    .icon-edit {
      opacity: 1;
    }
  }
}