@import "../../../../style/vars";
@import "../surveyFormVars";

.survey-form__add-node-def-panel {
  position: relative;
  display: grid;
  row-gap: 0.4rem;
  align-content: start;
  justify-content: center;
  grid-template-columns: .65fr;
  padding-top: 3rem;
  border-top: 1px dashed $greyBorder;
  border-right: 1px dashed $greyBorder;
  border-bottom: 1px dashed $greyBorder;

  .btn-add-node-def {
    background-color: rgba($green, 0.3);
    display: flex;
    justify-content: space-between;
    font-weight: 600;

    &:hover {
      background-color: rgba($green, 0.85);
    }
  }

  .icon {
    font-size: .8rem !important;
    opacity: .6;
  }

  .node_def__icon {
    font-size: .6rem !important;
    font-weight: 600;
    opacity: .6;
    letter-spacing: 0;
  }

  .icon-text-color {
    font-size: .8rem !important;
  }

  .add-to-label {
    font-weight: 600;
    font-size: .7rem;
    opacity: .8;

    .icon {
      opacity: .5;
    }
  }

  .btn-toggle {
    position: absolute;
    left: 1.3rem;

    .icon {
      opacity: 1;
    }
  }

}