@import "~@webapp/style/vars";
@import "../surveyFormVars";

.survey-form-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: $formHeaderHeight;
}

.survey-form-header__label-container {
  display: flex;
  align-items: flex-end;

  .btn-add-sub-page {
    margin-left: 2rem;
    border: 1px dashed $greyBorder;
  }
}

.survey-form-header__actions {
  display: flex;

  > *:not(:last-child) {
    margin: 0 1rem;
  }

  .error-badge {
    position: relative;
  }

}

.survey-form-header__record-actions-steps {
  border: 1px solid $greyBorder;

  > * {
    margin: 0 .5rem;
    font-size: .8rem;
  }
}
