@import "~@webapp/style/vars";

.survey-form__node-def-multiple-edit-dialog {
  .modal-body {
    height: 40vh;
  }

  .dropdown {
    background-color: white;

    &:focus-within {
      background-color: $blueLightFocus;
    }
  }
}

.node-def__icon-key {
  opacity: .8;
}