@import '~@webapp/style/vars';

.survey-form__node-def-table-cell-header {
  display: grid;
  background-color: $black;

  .label {
    justify-self: center;
    align-self: center;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    color: white;
  }
}
