@import 'webapp/style/vars';
@import '../../SurveyFormVars';

.survey-form__node-def-table-cell-body-multiple {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 1rem;
  padding-right: 0.5rem;

  .values-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
  }

  button {
    border: none;

    &:hover {
      color: $orange;
    }
  }
}

.survey-form__node-def-table-cell-composite {
  display: flex;
  height: 100%;

  > div:not(:last-child) > :first-child {
    border-right: $formBorder;
  }
}
