@import '~@webapp/style/vars';

.survey-form__node-def-multiple-edit-dialog {
  .modal-body {
    height: 40vh;
    overflow-y: auto;
  }

  .dropdown {
    background-color: white;

    &:focus-within {
      background-color: $blueLightFocus;
    }
  }
}

.node-def__icon-key {
  opacity: 0.8;
}
