@import "../../../../style/vars";

.records {

  .table__row {

    .error-badge {
      left: 4rem;
      pointer-events: none;
      top: .5rem;
    }

    .btn-edit:hover {
      color: $orange;
    }
  }
}
