@import "~@webapp/style/vars";

.error-badge {
  display: block;
  background-color: $red;
  color: white;

  &.warning {
    background-color: $orange;
  }
}

.error-badge-inverse {
  background-color: transparent;
  color: $red;

  .icon-warning {
    font-weight: bold;
    color: $red;
  }

  &.warning {
    background-color: transparent;
    color: $orange;

    .icon-warning {
      color: $orange;
    }
  }
}