@import "../style/vars";

.error-badge {
  background-color: $redDark;

  .messages {
    display: none;
  }

  &:hover {
    cursor: pointer;
    padding-bottom: 1rem;
    z-index: $zIndex6ErrorBadgeHover;

    .messages {
      display: block;
    }
  }
}