@import "../style/vars";

// form grid
.form {
  display: grid;
  /* height: 100%; */
  grid-row-gap: 3rem;
  align-content: start;
  overflow-y: auto;
}

.form-item {
  display: grid;
  grid-template-columns: .2fr .6fr .2fr;
  grid-column-gap: .3rem;
  height: auto;
  align-items: center;
}

.form-label {
  justify-self: right;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 200;
  text-align: end;
}

//.form-input {
//  justify-self: center;
//  display: grid;
//}

.form-input {
  padding: .75rem;
  border-bottom: 5px dotted rgba($white, .6);

  &.error {
    border-bottom: 5px dotted rgba($red, .6);
  }
}