@import "../style/vars";

.popup {
  background-color: $grey;
  position: fixed;
  min-width: 600px;
  z-index: $zIndex10TopOfApp;
  max-height: calc(80vh);
  border: 1px solid $greyBorder;

  input {
    background-color: white;
  }
}

.popup__btn-close {
  position: absolute;
  padding: 0 !important;
  background-color: rgba($red, .6);
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  left: 0;
  border: 1px solid rgba($red, 0.1);

  .icon {
    transition: opacity 250ms ease-out;
    color: white;
  }

  &:hover {
    background-color: rgba($red, 0.8);
  }
}
