@import "../style/vars";


.tooltip {
  .message {
    visibility: hidden;
    position: absolute;
    background-color: $yellow;
    padding: 1rem;
    opacity: .97;
  }

  &:hover {
    cursor: pointer;
    z-index: $zIndex6Tooltip;

    .message {
      color: black;
      visibility: visible;
      position: fixed;
      margin-top: 0.5rem;
      border-radius: 0.4rem;
      border: 1px solid $yellow;
      z-index: $zIndex6Tooltip;

      &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 1rem;
        margin-left: -.5rem;
        border: .5rem solid;
        border-color: transparent transparent $yellow transparent;
      }
    }
  }
}

.tooltip-error {
  @extend .tooltip;

  .form-input {
    border-bottom: 2px solid rgba($red, .6);
  }

  .btn-checkbox .icon {
      border: 2px solid rgba(220, 66, 66, 0.6);
  }

  .message {
    background-color: $redDark !important;
  }

  &:hover {
    .message {
      color: white !important;
      border: 1px solid $redDark !important;
      opacity: .97;

      &:after {
        border-color: transparent transparent $redDark transparent !important;
      }
    }
  }
}