@import "../style/vars";

.tooltip {
  &:hover {
    cursor: pointer;
  }
}

.tooltip__message {
  background-color: $yellow;
  padding: 1rem;
  opacity: .97;
  font-weight: 600;
  font-size: .85rem;
  color: black;
  visibility: visible;
  position: fixed;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid $yellow;
  z-index: $zIndex20Dropdown;

  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 1rem;
    margin-left: -.5rem;
    border: .5rem solid;
    border-color: transparent transparent $yellow transparent;
  }
}

.tooltip-error {
  @extend .tooltip;

  .form-input {
    border-bottom: 2px solid rgba($red, .6);
  }

  .btn-checkbox .icon {
    border: 2px solid rgba($red, 0.6);
  }

  .cycle {
    /* Without !important, other border stuff is more specific! */
    border: 2px solid rgba($red, 0.6) !important;
  }
}

.tooltip__message-error,
.tooltip__message-warning {
  @extend .tooltip__message;

  color: white;
  border: 1px solid;
  opacity: .97;

  &:after {
    border-color: transparent;
  }
}

.tooltip__message-error {
  background-color: $red;
  border-color: $red;

  &:after {
    border-bottom-color: $red;
  }
}

.tooltip__message-warning {
  background-color: $orange;
  border-color: $orange;

  &:after {
    border-bottom-color: $orange;
  }
}