/* ScatterPlot.css */
.chart-container {
    width: 60vw;
    height: 65vh;
  }
  
  #tooltip {
    position: absolute;
    visibility: hidden;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }