@import 'webapp/style/vars';

$appNotificationWidth: 500px;
$appNotificationWidthSmallScreens: 90vw;

.notification {
  position: fixed;
  top: 10px;
  z-index: $zIndex80AppNotification;
  width: $appNotificationWidth;
  padding: 10px;

  border: 1px solid transparent;
  border-radius: 3px;

  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;

  transform: translate(calc(50vw - #{$appNotificationWidth / 2}), 15px);

  .notification-content {
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 768px) {
  .notification {
    width: $appNotificationWidthSmallScreens;
    transform: translate(calc(50vw - #{$appNotificationWidthSmallScreens / 2}), 15px);
  }
}

.notification.info {
  background-color: lighten($blueLightActive, 18%);
  border-color: lighten($blueLightActive, 5%);
}

.notification.warning {
  background-color: lighten($orangeLight, 8%);
  border-color: $orange;
}

.notification.error {
  color: $white;
  background-color: lighten($red, 10%);
  border-color: $red;
}

.notification.enter-active {
  animation: notification-in 250ms ease-out;
}

.notification.exit,
.notification.exit-done {
  opacity: 0;
}

.notification.exit-active {
  animation: notification-out 250ms ease-out;
}

.notification__btn-close {
  position: absolute;
  left: 0;
  top: 0;

  &:hover {
    background-color: transparent;
  }
}

@keyframes notification-in {
  from {
    opacity: 0;
    transform: translate(calc(50vw - #{$appNotificationWidth / 2}), -15px);
  }
  to {
    opacity: 1;
    transform: translate(calc(50vw - #{$appNotificationWidth / 2}), 15px);
  }
}

@keyframes notification-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
