@import "~@webapp/style/vars";

.taxonomy {
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
  align-items: center;
  height: 100%;

  .table {
    align-self: start;
    height: 100%;
  }
}

.taxonomy__header {
  display: grid;
  grid-template-columns: .75fr .25fr;
  position: relative;
}
