@import 'webapp/style/vars';

.charts_chart__container {
  overflow: scroll;
}

.wrap_vertical{
  flex-direction: column;
}

.charts_chart_draft_overlay {

    background-color: #0000006e;
    padding: 12px; 
    flex: 1;
    height: 100%;
}

.charts_chart__image_container{
  flex: 1;
  padding: 12px;
}