.guest__form.reset-password {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: inherit;

  .btn-goto-home {
    width: 15rem;
    justify-self: center;
  }
}
