.reset-password__complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  .info {
    margin: 3rem;
  }
}

.guest__form {
  .btn-goto-home {
    width: 15rem;
    justify-self: center;
  }
}
