@import 'webapp/style/vars';

.node-defs-selector {
  position: relative;
  height: 100%;
  overflow-y: auto;
  display: grid;
  justify-items: stretch;
  align-content: start;

  .btn-toggle-filter {
    position: absolute;
    padding: 0;
    height: 30px;
    width: 30px;
    left: 0;
    border: 1px solid $greyBorder;

    &.highlight {
      background-color: $yellowHighlight;
    }
  }

  .entity-selector {
    margin-bottom: 0.3rem;
    margin-left: 32px;
  }

  .expansion-panel__header {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: $greyBorder;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0;
  }

  .expansion-panel__content {
    display: grid;
    align-content: start;
    grid-row-gap: 0.3rem;
  }
}

.node-defs-selector__settings {
  background-color: rgba($greyBorder, 0.8);
  padding: 1rem;
  margin-top: -0.3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .btn-node-def-type {
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0.3rem 0.5rem;
    height: 30px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon-left {
      margin-left: 0 !important;
    }

    .icon {
      font-size: 14px !important;
    }
  }
}

.node-defs-selector__chains {
  background-color: rgba($greyBorder, 0.8);
  padding: 1rem;
  margin-top: -0.3rem;
  .node-defs-selector__chains_filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .btn-node-def-type {
      font-size: 0.75rem;
      font-weight: 400;
      padding: 0.3rem 0.5rem;
      height: 30px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon-left {
        margin-left: 0 !important;
      }

      .icon {
        font-size: 14px !important;
      }
    }
  }
}
