@import "~@webapp/style/vars";
@import "../../../surveyFormVars";

.survey-form__node-def-entity-form-header {
  display: flex;
  justify-content: center;
  padding: .5rem 10rem;
  background-color: $formBgColorGrey;

  .node-select {
    min-width: 150px;
    font-weight: 600;
    font-size: .85rem;
  }
}