@import "../../../../../../style/vars";

.survey-form__node-def-boolean {
  display: flex;
  border: 1px solid $blueDark;
}

.survey-form__node-def-entity-table-row {
  .survey-form__node-def-boolean {
    border: none;
  }
}