@import "../../../../../../style/vars";
@import "../../../surveyFormVars";

.survey-form__node-def-boolean {
  display: flex;
  border: $formBorder;
}

.survey-form__node-def-entity-table-row {
  .survey-form__node-def-boolean {
    border: none;
  }
}