@import "../../../../../../style/vars";
@import "../../../surveyFormVars";

.survey-form__node-def-code {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .btn-checkbox {
    pointer-events: all;
    border: $formBorder;

    &[aria-disabled="true"] {
      pointer-events: none;
    }
  }

  .form-input-chip {
    .form-input {
      width: auto;
      border: none;

      .form-input-chip-item {
        border: $formBorder;
        height: 22px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .dropdown {
    height: 29px;
  }
}

.survey-form__node-def-multiple-edit-dialog {
  .survey-form__node-def-code {
    justify-content: center;
  }
}