.survey-dependency-tree {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .survey-dependency-tree__button-bar {
    display: flex;
    justify-content: space-evenly;

    .survey-dependency-tree__dependency-types-group {
      display: flex;
      flex-wrap: wrap;

      .MuiButtonBase-root.MuiButton-root {
        width: 8rem;
        justify-content: flex-start;
      }

      .MuiButtonGroup-middleButton {
        border-right-color: inherit;
      }
    }

    .spacer {
      flex: 1;
    }

    .form-item {
      display: flex;
    }

    .dependency-icon {
      width: 20px;
      height: 20px;
      position: relative;
      margin-right: 0.4rem;
    }
  }

  .survey-dependency-tree__center {
    flex: 1;

    .hierarchy__tree {
      flex: 1;
    }
  }
}
