@use '~@webapp/style/vars' as *;

.date-picker__text-field {
  .MuiPickersInputBase-root {
    height: 2rem;
  }
  width: 10rem;

  input {
    width: 7rem;
    padding: 4px 6px;
  }

  .MuiIconButton-root {
    padding: 0;
  }
}
