@use '~@webapp/style/vars' as *;

.time-picker__text-field {
  width: 8rem;

  .MuiPickersInputBase-root {
    height: 2rem;
  }

  &--with-seconds {
    width: 10rem;
  }

  .clearButton {
    padding: 0;
  }
}