@import "../../../../style/vars";

.taxonomy-edit {
  height: calc(100% - 50px);

  .taxa-table {
    align-self: start;
    height: 100%;
  }

  .table__header {
    display: grid;
    grid-template-columns: .8fr .2fr;

    .table__paginator {
      justify-self: right;
    }

    .taxonomy-edit__header {
      display: grid;
      grid-template-columns: .6fr .4fr;
      position: relative;

      .button-bar {
        display: flex;
        align-items: center;

        button {
          margin: 0 .5rem;
        }
      }
    }
  }

  .table__content {
    height: calc(100% - 70px);
  }


}
