@import "../../../../../../style/vars";

.home-dashboard__records-summary__chart {
  height: 100%;

  .y-axis, .x-axis {
    path, line {
      stroke: $greyBorder;
    }

    text {
      fill: lighten($black, 20%);
      font-weight: 600;
      font-size: .65rem;
    }
  }

  .data-points {
    fill: $blue;
  }
}