@import "../../style/vars";

.dropdown {
  display: grid;
  grid-template-columns: 1fr auto;
  //align-self: stretch;

  span.icon {
    color: $black;
    justify-self: end;
    align-self: center;

    &:hover {
      cursor: pointer;
    }
  }

  &:focus-within {
    background-color: $blueLightFocus;
  }
}

.dropdown__list {
  position: fixed;
  z-index: $zIndex20Dropdown;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  background-color: $blueLightFocus;
  padding: 1rem 0;
  justify-content: center;

  overflow-y: auto;
  max-height: 400px;
  font-size: .9rem;
}

.dropdown__list-item {
  padding: .4rem 0;
  grid-column: 2;
  text-align: center;

  &:hover, &:focus {
    cursor: pointer;
    background-color: rgba($blueLight, .5);
    outline: none
  }
}

