@import "../../style/vars";

// form grid
.form {
  display: grid;
  /* height: 100%; */
  grid-row-gap: 3rem;
  align-content: start;
  overflow-y: auto;
}

.form-item {
  display: grid;
  grid-template-columns: .3fr .65fr;
  grid-column-gap: 1rem;
  height: 100%;
  align-items: center;
}

.form-label {
  justify-self: right;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 400;
  text-align: end;
}

//.form-input {
//  justify-self: center;
//  display: grid;
//}

.form-input {
  padding: .5rem 1rem;
  border-bottom: 1px solid rgba($white, .7);
  //&.error {
  //  border-bottom: 5px dotted rgba($red, .6);
  //}

  &[readonly] {
    border-bottom: 1px solid rgba($white, .5);
  }
}