.form-input-chip {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  .form-input {
    padding: 0;

    &:first-child {
      .form-input-chip-item {
        font-weight: 600;
      }
    }
  }

  .dropdown {
    align-self: stretch;
  }

}

.form-input-chip-item {
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  column-gap: 0.3rem;
  margin: 0.25rem 0.3rem;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  font-weight: 100;

  .btn-remove {
    padding: .2rem .5rem;
  }
}