@import "../../../style/vars";

.code-lists {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.code-lists__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  button {
    margin-left: 1rem;
  }
}

.code-lists__table {
  margin: 2rem 10rem;
  max-height: calc(100vh - 14rem);
  overflow-y: auto;
}

.code-lists__table-row {
  display: grid;
  grid-template-columns: 1fr repeat(2, 100px);
  grid-auto-rows: 35px;
  align-items: center;
  border-bottom: 1px solid rgba($white, 0.5);

  button {
    justify-self: center;
  }
}

.code-lists__edit {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  align-items: center;
  margin: 0 5rem;
}

.code-lists__edit-levels {
  display: flex;
  overflow-x: auto;

  .btn-add-level {
    align-self: start;
    margin-left: 4rem;
  }
}

.code-lists__edit-level {
  min-width: 370px;
  display: grid;
  align-content: start;
  padding: .5rem 1rem;
  border-right: 1px dashed rgba($white, 0.35);
  border-top: 1px dashed rgba($white, 0.35);
  border-bottom: 1px dashed rgba($white, 0.35);

  &:first-child {
    border-left: 1px dashed rgba($white, 0.35);
  }
}

.code-lists__edit-level-header {
  display: flex;
  justify-content: space-between;

  .label {
    font-weight: 400;
  }
}

.code-lists__edit-level-items-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .label {
    font-weight: 400;
  }
}

.code-lists__edit-level-items {
  max-height: calc(100vh - 20rem);
  overflow-y: auto;
}

.code-lists__edit-item {
  position: relative;
  border-bottom: 1px dotted rgba($white, 0.35);
  display: grid;
  align-content: center;
  grid-template-columns: 2rem 80px 1rem 1fr;
  min-height: 35px;
  grid-row-gap: 2rem;

  &.active {
    grid-template-columns: 1fr;
    border: 2px dashed rgba($white, 0.35);
    background-color: rgba($white, 0.1);
    padding: 1.5rem 0;
  }

  &:not(.active):hover {
    background-color: rgba($white, .15);
    cursor: pointer;
  }

  .btn-close {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .btn-delete {
    justify-self: center;
  }
}

