@import "../../../style/vars";

.code-lists__header {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin-left: 1rem;
  }
}

.code-lists__table {
  margin: 0 10rem;
  height: calc(100vh - 20rem);
  overflow-y: auto;
}

.code-lists__table-row {
  display: grid;
  grid-template-columns: 1fr repeat(2, 100px);
  grid-auto-rows: 35px;
  align-items: center;
  border-bottom: 1px solid rgba($white, 0.5);

  button {
    justify-self: center;
  }
}

.code-lists__item {
  display: grid;
  grid-template-columns: .4fr .6fr 25px;
  align-items: center;
  grid-auto-rows: 2rem;
  padding: 4px;
  border: 2px solid white;
}

.code-lists__item.edit {
  display: grid;
  grid-template-columns: 1fr 25px 25px;

}

.open-btn,
.close-btn {
  padding: 0.2rem 0.5rem;
}
