@use 'sass:color';
@use '~@webapp/style/vars' as *;

.expansion-panel {
  .btn-toggle {
    color: $black;
    padding: 1px 0.3rem 0;
    transform: rotate(90deg);

    &:hover {
      color: color.adjust($black, $lightness: 25%);
    }
  }
}

.expansion-panel.close {
  .btn-toggle {
    transform: unset;
  }

  .expansion-panel__content {
    display: none;
  }
}

.expansion-panel__header {
  // reset the default button style
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: inherit;
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;

  .btn-toggle {
    // rotated by the transform of the expansion panel styles (not applied to inline elements)
    display: inline-block;
  }
}

.expansion-panel__content {
  display: grid;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
