@import 'webapp/style/vars';

.expansion-panel {
  .btn-toggle {
    color: $black;
    padding: 1px 0.3rem 0;
    transform: rotate(90deg);

    &:hover {
      color: lighten($black, 25%);
    }
  }
}

.expansion-panel.close {
  .btn-toggle {
    transform: unset;
  }
  .expansion-panel__content {
    display: none;
  }
}

.expansion-panel__header {
  cursor: pointer;
}

.expansion-panel__content {
  display: grid;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
