@use '~@webapp/style/vars' as *;

.service-errors {
  position: fixed;
  height: 98vh;
  width: 20vw;
  right: 0;
  top: 2vh;
  z-index: $zIndex90AppError;
  display: grid;
  align-content: start;
  grid-row-gap: 1rem;
  overflow-y: auto;
  color: white;
}

.service-errors__error {
  background-color: $red;
  margin: 0 0.5rem;
  min-height: 100px;
  padding: 1rem;
  position: relative;

  .btn-close {
    position: absolute;
    left: 0;
    top: 0;
    border: none !important;
    background-color: $red;

    .icon {
      color: white;
    }
  }

  .status {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
  }

  .message {
    padding-top: 0.5rem;
    font-size: 0.9rem;

    p {
      margin: 0;
    }
  }
}