@import '~@webapp/style/vars';

.raw-chart-builder {
    display: none;
    flex-direction: column;
    flex: 1;

    &.visible{
        display: flex;
    }
}

.raw-chart-builder__editor{
    flex: 1;
}

.raw-chart-builder__buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel-vega-doc{
    .panel-right__content{
        padding: 0;
    }
}