@import 'webapp/style/vars';

.block-checkbox {
  .basic-checkbox {
    justify-content: flex-start;
    flex-direction: row;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    display: flex;

    .icon {
      color: $black;
    }

    .checkbox-label {
      padding-left: 4px;
      font-size: 0.7rem;
      color: $black;
      font-weight: normal;
      text-transform: capitalize;
    }
  }
}