@use '~@webapp/style/vars' as *;

.guest__form {
  .form-input {
    padding: 20px 5px;
  }

  .MuiTextField-root {
    margin: 1rem;

    input {
      padding: 1rem;
    }
  }

  .two-factor-token-description {
    justify-self: center;
    white-space: break-spaces;
  }

  .guest__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .spacer {
      width: 5rem;
    }

    .login.btn {
      width: 10rem;
    }
  }
}

.guest-login__btn-request-access,
.guest-login__btn-forgot-pwd {
  justify-self: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgba($black, 0.9);
  padding: 0.25rem 0;
  margin-top: 0.25rem;
  border-bottom: 1px solid transparent;

  &:hover {
    background-color: transparent;
    color: rgba($black, 0.9);
    border-bottom: 1px solid rgba($black, 0.8);
  }
}
