@use '~@webapp/style/vars' as *;

.taxonomy-list__taxonomy-clone-from-survey-dialog {
  .clone-from-survey-dialog__message {
    color: var(--text-color);
    font-size: 0.85rem;
    padding: 0.25rem 0.1rem;

    &.error {
      color: $red;
    }
  }
}
