.app-module > :first-child.user-change-password {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30rem;
  gap: 3rem;
  margin: auto;
  padding-top: 2rem;

  button {
    align-self: center;
  }
}
