.app-module > :first-child.user-change-password {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80rem;
  gap: 3rem;
  margin: 2rem auto;

  button {
    align-self: center;
  }
}
