@use '~@webapp/style/vars' as *;

.dashboard-map-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__owner-filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .dropdown-wrapper {
      min-width: 15rem;
    }
  }

  &__owner-filter-label {
    font-weight: bold;
  }

  &__map {
    height: 25rem;
    border: 1px solid $greyBorder;
    border-radius: 8px;
    overflow: hidden;
  }
}

.dashboard-polygon-popup {
  &__title {
    margin: 0 0 0.25rem;
  }

  &__attribute,
  &__owner {
    margin-bottom: 0.25rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
