@import "../../../../style/vars";

.node-def-nav__btn-add-page {
  border: 2px dashed rgba($white, 0.4) !important;
  background-color: rgba($white, 0.1);
  margin: 0 1rem;
  font-size: .8rem;
  font-weight: 600;
  opacity: .7;
}