@import "../../../../../style/vars";


.home-survey-info__cycles-editor {
  .cycles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .cycle {
      display: flex;
      align-items: center;
      min-width: 310px;
      margin: 2px 10px 2px 0;
      padding: .15rem .5rem;
      border: 1px solid $greyBorder;
      font-size: .9rem;

      .step {
        font-weight: 600;
        color: lighten($black, 15%);
      }

      .date-container {
        margin-left: 10px;
      }

      .date-label {
        font-size: .7rem;
        text-transform: uppercase;
        color: lighten($black, 15%);
        font-weight: 600;
      }

      .date {
        margin-left: 5px;

        input {
          padding: .25rem 0;
        }
      }
    }
  }
}