@use 'sass:color';
@use '~@webapp/style/vars' as *;

.chains {
  .column-draft {
    .icon {
      color: color.adjust($black, $lightness: 30%);
    }
  }

  .column-status {
    display: flex;
    justify-content: center;

    .icon {
      padding: 5px;
      color: $white;
      border-radius: 100%;
    }

    &.success .icon {
      background-color: $green;
    }

    &.error .icon {
      color: $red;
    }
  }

  .table__row {
    .error-badge {
      pointer-events: none;
      position: relative;
    }
  }
}
