@import '~@webapp/style/vars';

$borderColor: $greyBorder;

.app__container .app-module > .category {
  overflow: hidden; // scrollbars managed in .category__levels
}

.category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
  width: 100%;
}

.category__header {
  display: flex;
  gap: 1rem;
  align-items: center;

  .form-item {
    width: 25rem;
  }

  .btn {
    display: flex;
    align-items: center;
  }

  .date-import-template-menu-btn {
    width: 12rem;
  }

  .reporting-data-checkbox {
    width: 8rem;
  }

  .import-btn,
  .export-btn {
    white-space: nowrap;
  }
}

.category__levels-wrapper {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.category__levels {
  display: flex;
  height: 100%;

  &.center-aligned {
    align-self: center;
  }

  .btn-add-level {
    margin-left: 1rem;
    width: 7rem;
  }

  .form-item {
    height: auto;
  }
}

.category__level {
  min-width: 420px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-right: 1px dashed $borderColor;
  border-top: 1px dashed $borderColor;
  border-bottom: 1px dashed $borderColor;

  .loading-bar {
    position: relative;
  }

  &:first-child {
    border-left: 1px dashed $borderColor;
  }

  .category__level-header {
    display: flex;
    justify-content: space-between;
  }

  .category__level-items-message {
    align-self: center;
    padding: 1rem;
  }

  .category__level-items-header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;

    .btn-add-item {
      margin-left: 1rem;
    }
  }

  .category__level-items {
    height: 100%;
    overflow-y: auto;

    .item-placeholder {
      height: 35px;
    }
  }

  &.single {
    width: 600px;

    .category__level-items-header {
      margin-top: 0;
    }
  }
}
