@import '~@webapp/style/vars';

$borderColor: $greyBorder;

.category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.category__header {
  display: flex;
  gap: 1rem;
  align-items: center;

  .form-item {
    flex: 1;
  }

  .btn {
    display: flex;
    align-items: center;
  }

  .date-import-template-menu-btn {
    width: 12rem;
  }

  .reporting-data-checkbox {
    width: 8rem;
  }

  .import-btn,
  .export-btn {
    white-space: nowrap;
  }
}

.category__levels {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-x: auto;

  .btn-add-level {
    align-self: start;
    margin-left: 1rem;
  }

  .form-item {
    height: auto;
  }
}

.category__level {
  width: 420px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-right: 1px dashed $borderColor;
  border-top: 1px dashed $borderColor;
  border-bottom: 1px dashed $borderColor;

  &:first-child {
    border-left: 1px dashed $borderColor;
  }

  .category__level-header {
    display: flex;
    justify-content: space-between;
  }

  .category__level-items-header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;

    .btn-add-item {
      margin-left: 1rem;
    }
  }

  .category__level-items {
    height: 100%;
    overflow-y: auto;

    .item-placeholder {
      height: 35px;
    }
  }

  &.single {
    width: 600px;

    .category__level-items-header {
      margin-top: 0;
    }
  }
}

.category__item {
  position: relative;
  border-bottom: 1px dotted $borderColor;
  display: grid;
  align-content: center;
  grid-template-columns: 80px auto 1fr;
  column-gap: 10px;
  min-height: 35px;
  grid-row-gap: 0.2rem;
  font-size: 0.9rem;

  &.not-valid {
    grid-template-columns: 26px 44px auto 1fr;

    .badge {
      position: relative;
    }
  }

  &.active {
    grid-template-columns: 1fr;
    border: 2px dashed $borderColor;
    background-color: rgba($grey, 0.4);
    padding: 1.5rem 0;

    .badge {
      position: absolute;
    }
  }

  &:not(.active):hover {
    background-color: rgba($greenLight, 0.6);
    cursor: pointer;
  }

  .labels-editor.with-label {
    grid-template-columns: 0.3fr 0.65fr;
  }

  .btn-close {
    position: absolute;
    right: 0;
    top: 0;
  }

  .btn-delete {
    justify-self: center;
  }
}
