@import '~@webapp/style/vars';

$borderColor: $greyBorder;

.category {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  align-items: center;
}

.category__header {
  display: grid;
  grid-template-columns: 1fr repeat(4, 12rem);
  column-gap: 1rem;

  .form-item.check {
    display: flex;
  }
}

.category__levels {
  display: flex;
  justify-content: center;
  overflow-x: auto;

  .btn-add-level {
    align-self: start;
    margin-left: 1rem;
  }
}

.category__level {
  width: 420px;
  display: grid;
  align-content: start;
  padding: 0.5rem 1rem;
  border-right: 1px dashed $borderColor;
  border-top: 1px dashed $borderColor;
  border-bottom: 1px dashed $borderColor;

  &:first-child {
    border-left: 1px dashed $borderColor;
  }

  .category__level-header {
    display: flex;
    justify-content: space-between;
  }

  .category__level-items-header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;

    .btn-add-item {
      margin-left: 1rem;
    }
  }

  .category__level-items {
    height: calc(100vh - 25rem);
    overflow-y: auto;

    .item-placeholder {
      height: 35px;
    }
  }

  &.single {
    width: 600px;

    .category__level-items-header {
      margin-top: 0;
    }
    .category__level-items {
      height: calc(100vh - 20rem);
    }
  }
}

.category__item {
  position: relative;
  border-bottom: 1px dotted $borderColor;
  display: grid;
  align-content: center;
  grid-template-columns: 80px 35px 1fr;
  min-height: 35px;
  grid-row-gap: 2rem;
  font-size: 0.9rem;

  &.active {
    grid-template-columns: 1fr;
    border: 2px dashed $borderColor;
    background-color: rgba($grey, 0.4);
    padding: 1.5rem 0;
  }

  &:not(.active):hover {
    background-color: rgba($greenLight, 0.6);
    cursor: pointer;
  }

  .labels-editor.with-label {
    grid-template-columns: 0.3fr 0.65fr;
  }

  .btn-close {
    position: absolute;
    right: 0;
    top: 0;
  }

  .btn-delete {
    justify-self: center;
  }
}
