.access-request {
  z-index: 2;
  height: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 1rem auto;

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .content {
    height: calc(100% - 14rem);
    overflow: auto;

    .introduction,
    .request-sent-message {
      white-space: pre-line;
    }

    .introduction {
      padding: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-item {
        height: 3rem;

        .loading-bar {
          position: relative;
        }

        .MuiTextField-root {
          width: 100%;

          input {
            padding: 0.4rem 0.6rem;
          }
        }
      }

      .required-field-label {
        width: 95%;
      }

      .recaptcha-wrapper {
        display: block;
        width: auto;
        height: auto;
        margin: auto;
      }

      .guest__buttons {
        width: inherit;
        margin: 1rem auto auto auto;
        justify-items: center;
      }
    }

    .request-sent-message {
      text-align: center;
      line-height: 3rem;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .access-request {
    .content {
      height: calc(100% - 7rem);
    }

    form {
      .form-item {
        width: 90%;
      }
    }
  }
}
