.access-request {
  z-index: 2;
  width: 60rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: auto;
  margin-top: 3rem;

  .title {
    font-size: 1.5rem;
    text-align: center;
  }
  .introduction {
    white-space: pre-line;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .form-item {
      height: 3rem;
    }
    input {
      text-align: left;
    }

    .guest__buttons {
      width: inherit;
      margin: auto;
      justify-items: center;
    }
  }
}
