@import 'webapp/style/vars';

.app-module > :first-child.data-import .form .form-item.entity-form-item {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  .form-label {
    justify-self: center;
  }
}

.data-import {
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .steps-row {
    display: flex;
  }

  .internal-container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: 1rem;

    .form {
      grid-row-gap: 1rem;
    }

    .btn-group {
      gap: 1rem;
    }

    .entity-selector-tree {
      background-color: $white;
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      align-self: start;
      align-items: center;
      min-width: 30rem;
      gap: 2rem;

      .download-template-btn {
        width: 20rem;
      }

      .start-btn {
        width: 10rem;
      }
    }
  }
}
