@import 'webapp/style/vars';

.app-module > :first-child.data-import {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    width: 35rem;

    .form-item {
      grid-template-columns: 0.5fr 0.5fr;
    }

    .entity-selector-tree {
      max-height: 50vh;
    }
  }
}
