@import 'webapp/style/vars';

.app-module > :first-child.data-import {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    width: 40rem;
    justify-items: center;

    .form-item {
      width: 100%;
      grid-template-columns: 0.3fr 0.7fr;
    }

    .entity-selector-tree {
      max-height: 50vh;
    }
  }
}

.data-import_complete-dialog {
  .modal-content {
    width: 30rem;
    margin: 10vh auto auto auto;
  }
}
