@import "../../../style/vars";

.survey-form {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.survey-form__node-def-edit-wrapper {
  position: fixed;
  top: 0px;
  background-color: rgba($greyDark, 0.9);
  width: 100%;
  height: 100%;
  z-index: $zIndex10TopOfApp;

  display: grid;
  grid-template-columns: .1fr .8fr .1fr;
  grid-template-rows: .1fr .8fr .1fr;
}

.survey-form__node-def-edit {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-row-gap: 2rem;
  align-content: start;
}

.node-def__edit-actions {
  position: absolute;
  right: 0;
  background-color: rgba($greyDark, 0.9);
  padding: .2rem .3rem;
}

