@import 'webapp/style/vars';

.export {
  display: flex;
  flex-direction: column;
  align-items: center;

  .options {
    width: 25rem;

    .form-item.check {
      grid-template-columns: 0.7fr 0.3fr;
    }
  }
}
