@import 'webapp/style/vars';

.option {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px 0px;
  .icon-left {
    font-size: 12px !important;
  }
  .icon {
    font-size: 12px !important;
  }

  &:hover {
    cursor: pointer;
  }
  &.selected {
    background-color: $greyBorder;
  }
}

