@import "../../../../style/vars";

.items {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.items__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  button {
    margin-left: 1rem;
  }
}

.items__table {
  margin: 2rem 10rem;
  max-height: calc(100vh - 14rem);
  overflow-y: auto;

  >:first-child {
    border-top: $itemsTableRowBorder;
  }
}

.items__table-row {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-auto-rows: 35px;
  align-items: center;
  border-bottom: $itemsTableRowBorder;
  border-right: $itemsTableRowBorder;
  border-left: $itemsTableRowBorder;

  > :first-child {
    margin-left: 1rem;
  }

  .align-right {
    float: right;

    button {
      margin-right: 1rem;
    }
  }
}

