@import "../../../../style/vars";

.items {
  margin: 0 5rem;
  height: 100%;

  .table {
    height: calc(100% - 100px);
  }

  .table__row, .table__row-header {
    grid-template-columns: 1fr 300px;

    .name {
      justify-self: start;
      padding: 0 2rem;

      .error-badge {
        margin-left: 2rem;
      }
    }

    .buttons {
      justify-self: end;

      > * {
        margin: 0 .5rem;
      }
    }

  }
}

.items__footer {
  text-align: center;
}