.flexible-modal {
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;

  .flexible-modal-mask {
    position: fixed;
    height: 100%;
    background: rgba(55, 55, 55, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .flexible-modal-resizer {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    margin: 5px;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
  }

  .flexible-modal-drag-area {
    background: transparent;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: move;
    text-align: center;
  }

  .resizable-modal__header {
    text-align: center;

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }

  .resizable-modal__body {
    height: calc(100% - 35px);
    width: 100%;
  }
}
