.sampling-polygon {
  width: 80%;
  padding: 10px;

  .json-editor {
    width: 100%;
  }

  .props-editor-wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    column-gap: 3rem;
  }

  .form-item {
    display: flex;
    width: auto;

    .form-label {
      width: auto;
      white-space: nowrap;
    }

    .form-input-container {
      width: 8rem;
    }
  }
}
