.panel-right.record-panel {
  z-index: 1000;
}

.map-wrapper {
  .leaflet-container {
    .cluster-marker__clustered-points-popup {
      .leaflet-popup-content {
        width: 20rem;
        max-height: 7rem;
        overflow-y: auto;

        li {
          line-height: 1.5rem;

          a {
            max-width: 100%;
          }
        }
      }
    }

    .sampling-point-data__item-popup-content {
      .leaflet-popup-content {
        width: 18rem;

        .button-bar {
          justify-content: space-between;
          gap: 1rem;

          button {
            margin: 0;
          }
        }
      }
    }
  }
}
