.panel-right.record-panel {
  z-index: 1000;
}

.map-wrapper {
  .leaflet-container {
    .cluster-marker__clustered-points-popup {
      .leaflet-popup-content {
        width: 20rem;

        li {
          line-height: 1.5rem;

          a {
            max-width: 100%;
          }
        }
      }
    }
  }
}
