@import "../../style/vars";

.expression {
  display: grid;
  grid-row-gap: 1.5rem;

  .popup {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 2rem;

    .query {
      background-color: rgba($white, .15);
    }
  }
}

.expression__query-container {
  display: flex;
  align-items: center;

  .query {
    padding: .5rem 1rem;
    font-size: .9rem;

    .placeholder {
      opacity: .35;
      font-style: italic;
    }

    &.invalid {
      background-color: rgba($redLight, .8);
    }
  }
}
