@import "~@webapp/style/vars";

.expression-editor-popup {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 2rem;

  .query {
    background-color: rgba($blueLight, .15);
  }
}

.expression-editor-popup__toggle-advanced {
  position: absolute;
  right: 0;
}

.expression-editor-popup__autocompletions {
  table {
    border-spacing: 20px 0;
    margin-bottom: 15px;
  }
}
.expression-editor-popup__expr-container {
  margin-top: 1.5rem;
  position: relative;

  // These must match, for the autocomplete to work properly.
  textarea {
    border: 1px solid black;
  }
  textarea, span {
    font-size: 1rem;
  }

  //common
  .btns {
    display: grid;
    grid-template-columns: 2rem auto 1fr auto;
    align-items: center;
    width: 100%;

    .btns__add {
      grid-column: 2;
    }

    .btns__last {
      grid-column: 4;
    }

  }

  input {
    padding: 0;
    text-align: center;
    height: 100%;
  }

  //types
  .binary {
    display: flex;

    .btns {
      width: 200px;
    }

    .dropdown, .literal {
      margin-right: 1.5rem;
    }

    .btn-switch-operand {
      font-size: .7rem;
      font-weight: 600;
      margin: 0 .1rem;
      padding: .3rem;
      align-self: flex-end;
      letter-spacing: -.05rem;
    }

    .operator {
      .form-input {
        width: 80px;
      }
    }

  }

  .logical {
    display: grid;
    grid-row-gap: .8rem;
  }

  .group {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    padding: .5rem;
    border: 2px dotted $greyBorder;

    .footer {
      display: flex;
      grid-column: 1 / span 2;
      margin-top: 1rem;
    }
  }

}

.expression-editor-popup__footer {
  text-align: center;
  align-self: end;

  > button {
    margin: 0px .3rem;
    font-weight: 600;
  }
}
