@import "../../style/vars";

.expression {
  display: grid;
  grid-row-gap: 1.5rem;

  &.edit {
    background-color: rgba($grey2, .95);
    position: fixed;
    min-width: 600px;
    z-index: $zIndex10TopOfApp;
    max-height: calc(80vh);
    grid-template-rows: auto 1fr auto;

    .query {
      background-color: rgba($white, .15);
      max-width: none;
    }
  }
}

.expression__query-container {
  display: flex;
  align-items: center;

  .query {
    max-width: 300px;
    padding: .5rem 1rem;
    font-size: .9rem;

    .placeholder {
      opacity: .35;
      font-style: italic;
    }

    &.invalid {
      background-color: rgba($redLight, .8);
    }
  }
}
