@import 'webapp/style/vars';
@import '../../SurveyFormVars';

.survey-form__node-def-nav {
  button {
    border: none;
    background-color: transparent;
    text-align: left;

    &:hover {
      color: $orange;
      background-color: transparent;
    }

    &.active {
      font-weight: bold;
      background-color: transparent;
    }
  }

  .btn-toggle {
    align-self: flex-start;
    margin-top: 3px;
  }

  .btn-node-def {
    font-size: 0.85rem;
  }
}

.survey-form.edit {
  .survey-form__node-def-nav {
    &.level0 {
      border: $formBorderEdit;
    }
  }
}

.survey-form__node-def-nav.level0 {
  position: relative;
  overflow-y: auto;
  border: $formBorder;
  background-color: $white;
}
