@import "../../style/vars";

$rowHeight: 35px;
$rowBorder: 1px solid rgba($white, 0.4);

.surveys-list {
  overflow: hidden;
  margin: 0 4rem;
  border-bottom: $rowBorder;
}

.surveys-list__header {
  display: grid;
  grid-template-rows: 50px $rowHeight;

  .header-label {
    justify-self: center;
    align-self: center;
    font-weight: 400;
  }
}

.surveys-list__rows {
  display: grid;
  grid-auto-rows: $rowHeight;
  overflow-y: auto;
  border-right: $rowBorder;
  border-left: $rowBorder;
}

.surveys-list__row {
  display: grid;
  grid-template-columns: .2fr .2fr .2fr .2fr .2fr;
  align-items: center;
  justify-items: center;
  border-bottom: $rowBorder;

  &.active {
    background-color: rgba($white, .2);
  }

  > div {
    //width: calc(100% / 6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.surveys-list__row-header {
  @extend .surveys-list__row;
  font-weight: 400;
  background-color: rgba($white, 0.1);
  text-transform: uppercase;
  font-size: .8rem;
}