@import "../../../../style/vars";

.survey-hierarchy {
  display: grid;
  grid-template-columns: 1fr 240px;
}

.survey-hierarchy__attributes {
  height: 100%;
  width: 100%;
}

.survey-hierarchy__tree {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;

  .node {

    a {
      cursor: pointer;
      font-size: .9rem;
      letter-spacing: 0;
      padding: .2rem .5rem;

      &:hover {
        //background-color: rgba($white, .35)
      }
    }
  }

  .node-grid {
    display: flex;
    align-items: center;
    border: 1px solid $greyBorder;
    justify-content: space-around;
    transition: background-color 1s ease;
    background-color: white;
    min-height: 27px;

    .btn {
      transform: rotate(-90deg);
      padding: .3rem;
      background-color: rgba($white, .2);

      &:hover {
        background-color: rgba($white, .5);
      }
    }

    &.highlight {
      background-color: $blueLightActive;
    }
  }

  .link {
    fill: none;
    stroke: $blueLightActive;
    stroke-width: 1px;
  }

}
