@import "../../../../style/vars";

.survey-hierarchy {
  display: grid;
  grid-template-columns: 1fr 240px;
}

.survey-hierarchy__attributes {
  height: 100%;
  width: 100%;
}

.survey-hierarchy__tree {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;

  svg {
    position: absolute;
  }

  .node {

    a {
      cursor: pointer;
      font-size: .8rem;
      letter-spacing: 0;
      padding: .2rem .5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .node-grid {
    display: flex;
    align-items: center;
    border: 1px solid $greyBorder;
    justify-content: space-between;
    transition: background-color 1s ease;
    background-color: white;
    height: 38px;
    
    .btn {
      transform: rotate(-90deg);
      padding: .3rem;
      margin-right: .2rem;
    }

    &.highlight {
      background-color: $blueLightActive;
    }
  }

  .link {
    fill: none;
    stroke: $blueLightActive;
    stroke-width: 1px;
  }

}
