@use 'sass:color';
@use '~@webapp/style/vars' as *;

.home-dashboard__survey-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;

  header {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    justify-self: flex-start;
    align-items: flex-start;

    .row {
      display: flex;
      align-items: center;
      width: 100%;

      h2,
      h3 {
        text-transform: none;
        max-width: 100%;
      }

      h2 {
        font-size: 1.2rem;
      }

      h3 {
        font-size: 0.8rem;
        margin-left: 1rem;
        color: $blueDark;
      }
    }
  }

  .survey-status {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0 0.5rem;
    color: color.adjust($black, $lightness: 20%);
    margin-left: 1rem;
  }

  .btn-menu-export,
  .btn-menu-advanced {
    display: inline-block;
  }
}

.sidebar-open {
  .home-dashboard__survey-info {
    header h3 {
      max-width: calc(100vw - 460px);
    }
  }
}
