@import "~@webapp/style/vars";

.validation_report__table {

  .table__row {
    height: unset;
    padding: 6px 0;
  }
}

.validation_report__message {
  justify-self: left;

  .validation_field_message {
    color: $black;
  }
}
