.home-survey-create {
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    display: flex;
    justify-content: space-around;
    width: 30rem;
    height: 2rem;
    margin: 2rem;
  }

  .home-survey-create__collect-import {
    justify-self: auto;
    align-self: normal;
    text-align: center;
    padding-top: 2rem;
  }

  .options-fieldset {
    height: fit-content;
  }
}
