.home-survey-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  .form-item {
    height: 2rem;
    width: 55rem;
  }

  .row {
    display: flex;
    justify-content: space-around;
  }

  .dropzone {
    width: 50rem;
    min-height: 10rem;
  }

  .MuiFormGroup-row {
    gap: 2rem;
  }

  .home-survey-create__collect-import {
    justify-self: auto;
    align-self: normal;
    text-align: center;
    padding-top: 2rem;
  }

  .options-fieldset {
    height: fit-content;
  }
}
