$color: rgba(222, 220, 203, 0.6);
$loginFormContainerBorderColor: rgba(50, 42, 39, .5);

.login__bg {
  background-size: cover;
  background-position: center;
}

.login__bg1 {
  @extend .login__bg;
  background-image: url("/img/landing-bg.jpg");
}

.login__bg2 {
  @extend .login__bg;
  background-image: url("/img/landing-bg2.jpg");
}

.login__bg-overlay:after {
  opacity: 0.8;
  background: transparent;
  background-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.25) 100%);
  background-repeat: repeat-x;
  content: '';
  display: block !important;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.login__grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(12, 8.33333333333333vw);
  grid-template-rows: repeat(6, 16.66666666666667vh);
}

.login__grid-cell {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(239, 155, 155, 0.2);
  color: $color;
  font-size: 70px;
  font-weight: 100;
  transform: rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form-container {
  grid-column: span 6;
  grid-row: span 4;
  padding: 50px;
  border: 3px double $loginFormContainerBorderColor;
  box-shadow: -1px 101px 1000px 20px $loginFormContainerBorderColor;
}

.login__form {
  display: grid;
  grid-template-columns: 100%;
  height: 100%;
  position: relative;
  justify-items: center;
  align-items: start;

  button {
    align-self: center;
    width: 50%;
    text-transform: uppercase;
    padding: 1rem 1rem;
    transition: all .5s ease;
    color: rgba(222, 220, 203, 1);
    letter-spacing: 1px;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 3px double $color;
    background-color: transparent;

    &:hover {
      background-color: $color;
      cursor: pointer;
    }
  }

  input {
    width: 60%;
    background-color: transparent;
    border: none;
    border-bottom: 5px dotted $color;
    color: $color;
    font-size: 20px;
    padding: 20px 5px;
    text-align: center;
    outline: none;
    font-weight: 100;
  }
}