@import "../style/vars";
@import "../style/layout";

$loginGridCellBgColor: rgba(239, 155, 155, 0.2);

.login__grid {
  @extend .full-screen-fixed;
  display: grid;
  grid-template-columns: repeat(12, 8.33333333333333vw);
  grid-template-rows: repeat(6, 16.66666666666667vh);
}

.login__grid-cell {
  background-color: $loginGridCellBgColor;
}

.of-letter {
  color: $whiteLight;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  padding-top: 1rem;
  position: relative;
}

.login__form-container {
  @extend .login__grid-cell;
  grid-column: span 6;
  grid-row: span 4;
  padding: 50px;
}

.login__form {
  display: grid;
  grid-template-columns: 60%;
  height: 100%;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-content: space-evenly;
  //box-shadow: 0px -8px 260px -50px rgba($color, 0.1);

  input {
    border-bottom: 5px dotted $whiteLight;
    text-align: center;
  }

  .buttons {
    width: 70%;
    display: grid;
    grid-template-columns: 100%;

    .btn-link {
      text-align: right;
      font-size: 0.9rem;
    }
  }
}