.step-entity-selector__dropdown {
  max-width: 600px;
}

.step-entity-selector__dropdown-dialog {
  .dropdown__list-item {
    padding-left: 20px;
    text-align: left;
  }
}

.step-entity-selector.form-item {
  grid-template-columns: 150px 400px 100px 125px;

  .btn-add {
    justify-self: center;
  }
}
