.survey-form__node-def-taxon {
  display: grid;
  row-gap: 0.2rem;

  .form-item {
    grid-template-columns: 125px 1fr;
    padding: 0;
  }
}

.survey-form__node-def-taxon-autocomplete-list .item {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    &:first-child {
      justify-self: center;
    }
  }
}

// reset the default button style of the autocomplete items
.survey-form__node-def-taxon-autocomplete-list button.item {
  width: 100%;
  border: none;
  border-radius: 0;
  background: none;
  padding: 0.4rem 0;
  text-align: left;
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  color: inherit;
}
