.survey-form__node-def-file {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 0.5rem;

  .survey-form__node-def-file__tooltip-preview {
    display: inherit;
  }
}

.popper-arrow {
  position: absolute;
  font-size: 7px;
  width: 3em;
  height: 3em;

  &::before {
    content: '';
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
  }
}

.MuiTooltip-popper {
  .survey-form__node-def-file__preview-image {
    grid-column-start: 2;
    grid-row-start: 2;

    min-height: 10px;
    min-width: 10px;

    .loading-bar {
      position: relative;
      width: 200px;

      .progress-bar {
        top: inherit;
        width: inherit;
      }
    }

    img {
      height: auto;
      width: auto;
      max-height: 20vmin;
      max-width: 20vmin;
    }
  }
}
