@import 'webapp/style/vars';
@import '../../../SurveyFormVars';

.survey-form__node-def-entity-table {
  display: grid;
  align-self: start;
  grid-template-rows: $formTableRowHeaderHeight 1fr;
  position: relative;
  height: 100%;
  width: 100%;
}

.survey-form__node-def-entity-table-header {
  justify-self: auto;
  align-self: center;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-align: left;
  font-size: 0.8rem;

  .btn-add {
    margin-left: 10px;

    &:hover {
      color: $orange;
    }
  }

  .label-wrapper {
    display: flex;
    align-items: center;

    .icon {
      padding: 5px;
    }
  }
}

.survey-form__node-def-entity-table-rows {
  position: absolute;
  top: $formTableRowHeaderHeight;
  width: 100%;
  height: calc(100% - #{$formTableRowHeaderHeight});
  overflow: hidden;

  &.edit {
    overflow-x: auto;
  }

  .survey-form__node-def-entity-table-data-rows-wrapper {
    position: absolute;
    top: $formTableRowHeaderHeight;
    width: 100%;
    height: calc(100% - #{$formTableRowHeaderHeight});
    overflow: auto;

    .survey-form__node-def-entity-table-data-rows {
      width: fit-content;
    }
  }
}

.survey-form__node-def-entity-table-row-header {
  position: absolute;
  display: flex;
  height: $formTableRowHeaderHeight;
  background-color: rgba($blueLight, 0.3);
  border-right: 1px solid transparent;

  &.drag-in-progress .draggable-item * {
    pointer-events: none;

    .message {
      display: none;
    }
  }

  .draggable-item {
    .react-resizable {
      position: relative;
    }
  }
}

.survey-form:not(.edit) {
  .survey-form__node-def-entity-table-row-header {
    .react-grid-item {
      display: grid;
      border-right: $formBorder;
      border-top: 1px solid $black;

      &:first-child {
        border-left: 1px solid $black;
      }

      &:last-child {
        border-right: 1px solid $black;
      }
    }
  }
}

.survey-form__node-def-entity-table-row {
  position: relative;
  display: flex;
  min-height: calc(#{$formTableRowHeaderHeight - 10px});

  .form-input {
    border: none;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dropdown {
    border-bottom: none;
  }

  .react-grid-item {
    border-right: $formBorder;
    border-bottom: $formBorder;

    &:first-child {
      border-left: $formBorder;
    }
  }

  &:first-child {
    .react-grid-item {
      border-top: $formBorder;
    }
  }
}

.survey-form__node-def-entity-table-cell-placeholder {
  display: grid;
  align-content: center;
  width: 45px;
  height: 100%;
  opacity: 0.7;
  margin: auto;

  .progress-bar {
    height: 0.5rem;
  }
}

.survey-form__node-def-entity-table-cell-content {
  height: 100%;
}
