@import 'webapp/style/vars';
@import '../../../SurveyFormVars';

.survey-form__node-def-integer,
.survey-form__node-def-decimal {
  .form-input input {
    text-align: right;
  }
}

.survey-form__node-def-date,
.survey-form__node-def-time {
  .form-input input {
    text-align: center;
  }
}

.survey-form__node-def-text.multiline {
  height: 100%;
}

.survey-form__node-def-text-multiple-container {
  display: grid;
  grid-template-columns: 1fr auto;
  border-top: $formBorder;
  border-left: $formBorder;
  border-right: $formBorder;
  background-color: white;

  .form-input {
    border: 1px solid transparent;
  }

  &:last-child {
    border-bottom: $formBorder;
  }

  &:focus-within {
    background-color: $blueLightFocus;
  }
}
