@import 'webapp/style/vars';
@import '../../../SurveyFormVars';

.survey-form__node-def-boolean {
  display: flex;
  margin-left: 0.2rem;
  height: 1.2rem;
  align-self: center;
}

.survey-form__node-def-entity-table-row {
  .survey-form__node-def-boolean {
    border: none;
    justify-content: center;
  }
}
