.survey-form__node-def-coordinate {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: repeat(3, auto);
  row-gap: 0.3rem;

  .form-item {
    grid-template-columns: 40px 1fr;
    grid-column: 1;
  }

  .map-trigger-btn {
    grid-row: 1;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.survey-form__node-def-table-cell-coordinate {
  .subfields-labels-wrapper {
    grid-template-columns: repeat(3, auto);
  }
}
