@import 'webapp/style/vars';
@import '../../../SurveyFormVars';

.survey-form__node-def-entity-form-header {
  display: flex;
  padding: 0.5rem;
  background-color: $formBgColorGrey;

  .node-select-form-item {
    min-width: 30rem;
  }

  .node-select {
    min-width: 150px;

    font-weight: 600;
    font-size: 0.85rem;
  }
}

.survey-form__node-def-entity-wrapper {
  .survey-form__node-def-entity-form-grid {
    position: relative;
    height: 100% !important;
    width: 100%;
  }

  .survey-form__node-def-entity-form-grid-entry {
    display: grid;

    .grid-item {
      padding: 0.2rem;
    }
  }
}
