.survey-form__node-def-taxon {
  display: grid;
  row-gap: 0.2rem;

  .form-item {
    grid-template-columns: 125px 1fr;
    padding: 0;
  }
}

.survey-form__node-def-taxon-autocomplete-list .item {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    &:first-child {
      justify-self: center;
    }
  }
}
