.survey-form__node-def-coordinate {
  display: flex;
  flex-direction: row;

  .form-items {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;

    .form-item {
      grid-template-columns: 40px 1fr;

      .form-input,
      .dropdown {
        width: 100%;
      }
    }
  }
}
