.survey-form__node-def-coordinate {
  display: flex;
  flex-direction: row;

  .form-items {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .form-item {
      grid-template-columns: 40px 1fr;

      .form-input,
      .dropdown {
        width: 100%;
      }
    }
  }
}

.survey-form__node-def-table-cell-coordinate {
  .subfields-labels-wrapper,
  &.survey-form__node-def-table-cell-composite {
    display: grid;
    grid-template-columns: repeat(3, auto);

    &.with-map {
      grid-template-columns: repeat(3, auto) 30px;
    }
  }
}
