@import "../../style/vars";

.labels-editor {
  .form-label {
    display: grid;
    grid-row-gap: 1rem;
  }

  .btn-toggle-labels {
    background-color: rgba($white, .15);
    border: none ;
    font-weight: 400;
    font-size: .7rem;
    text-transform: uppercase;
    padding: .4rem .5rem;

    &:hover {
      background-color: rgba($white, .4);
    }
  }
}

.labels-editor__labels {
  display: grid;
  grid-row-gap: 1rem;
  max-height: 280px;
  overflow-y: auto;
}

.labels-editor__label {
  position: relative;
}

.labels-editor__label-lang-badge {
  position: absolute;
  right: 0;
  text-transform: uppercase;
}