.table.surveys {
  .table__header {
    column-gap: 5rem;

    input {
      width: 25rem;
      padding: 0.5rem;
    }
  }

  .records-count {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.2rem;

    .app-icons-wrapper {
      position: relative;
      width: 30px;
      height: 20px;
    }
  }
}
