@import "../../../../../style/vars";

.records {

  .table__row {

    .error-badge {
      left: 4rem;
      background-color: white;
      pointer-events: none;

      .icon {
        color: $red;
        font-weight: bold;
      }
    }

    .btn-edit:hover {
      color: $orange;
    }
  }
}
