.node-def-selector {
  display: grid;
  align-items: start;
  grid-template-rows: 50px 1fr 50px;

  .btn-sync {
    justify-self: center;
  }

}

.entity-selector__autocomplete-dialog {
  .dropdown__list-item {

    text-align: left !important;
  }
}