.node-defs-selector {
  display: grid;
  grid-template-rows: 1fr 50px;

  .btn-sync {
    justify-self: center;
    align-self: center;
  }

}

.entity-selector__autocomplete-dialog {
  .dropdown__list-item {

    text-align: left !important;
  }
}