@import 'webapp/style/vars';

.home-survey-info__cycles-editor {
  .cycles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .tooltip-error .cycle {
      border: 1px solid rgba($red, 0.6);
    }

    .cycle {
      display: flex;
      align-items: center;
      min-width: 315px;
      margin: 2px 10px 2px 0;
      padding: 0.15rem 0.5rem;
      border: 1px solid $greyBorder;
      font-size: 0.9rem;

      .step {
        font-weight: 600;
        color: lighten($black, 15%);
        top: inherit;
        height: initial;
      }

      .date-container {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .date-label {
        font-size: 0.7rem;
        text-transform: uppercase;
        color: lighten($black, 15%);
        font-weight: 600;
      }

      .btn-delete {
        padding: 0.1rem;
      }
    }
  }
}
