@import "../../../../style/vars";

.app-sidebar {
  position: relative;
  background-color: rgba($brown, 0.4);
  border-right: 1px solid rgba($white, 0.1);

  display: grid;
  grid-template-rows: .85fr .15fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.app-sidebar__btn-of {
  color: rgba($white, 0.5);
  border-bottom: 1px solid rgba($white, 0.5) !important;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -0.10rem;
  font-size: .8rem;
  padding: .3rem .5rem .15rem;

  &:hover {
    background-color: rgba($white, .1);
    color: rgba($white, .75);
    border-bottom: 1px solid rgba($white, 0.75) !important;
  }
}

.app-sidebar__btn-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: .75;
}

.app-sidebar__modules {
  display: grid;
  grid-row-gap: 1.5rem;
}

.app-sidebar__footer {
  display: grid;
  justify-items: center;
  align-content: space-around;
  height: 100%;
}