@import 'webapp/style/vars';

.calculation {
  display: grid;
  grid-row-gap: 1.5rem;
  height: 100%;
  align-content: start;

  .labels-editor {
    grid-template-columns: 150px 400px;
  }
  
}

.calculation__attribute-container {
  display: grid;
  grid-template-columns: 0.8fr 100px 100px;

  button {
    justify-self: center;
  }
}
