@import "../../../../style/vars";

.home-dashboard__survey-actions-bar {
  display: grid;

  .buttons-container {
    display: grid;
    grid-row-gap: .3rem;
    align-items: center;
    align-content: center;
    justify-content: center;

    .row-btns {
      display: flex;
      justify-content: center;

      .btn {
        margin: 0 .5rem;
        padding: .5rem;
        font-size: .7rem;
      }
    }
  }

}