@import "../../../../style/vars";

.home-dashboard__survey-info {
  position: relative;

  .survey-status {
    position: absolute;
    left: 2rem;
    top: .5rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .survey-name {
    font-size: 2rem;
    padding-left: 10rem;
    padding-top: 2rem;
    text-transform: uppercase;
  }

}
