@import 'webapp/style/vars';

.dropdown-indicator {
  color: $black;
  justify-self: center;
  align-self: center;
  transform: rotate(90deg) scale(0.8, 1.1) !important;
  padding: 0.5rem;
  padding-right: 0;
}
