@import 'webapp/style/vars';

.form-input-chip {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 0.2rem;

  .dropdown {
    align-self: stretch;
    width: 10rem;
  }
}

.form-input-chip-text {
  display: flex;
  flex-direction: column;

  .chips-wrapper {
    display: flex;
    flex-flow: wrap;
  }
}
