@import 'webapp/style/vars';

.form-input-chip {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 0.2rem;

  .form-input {
    padding: 0;

    &:first-child {
      .form-input-chip-item {
        font-weight: 600;
      }
    }
  }

  .dropdown {
    align-self: stretch;
    width: 10rem;
  }
}

.form-input-chip-text {
  display: flex;
  flex-direction: column;

  .chips-wrapper {
    display: flex;
    flex-flow: wrap;

    .form-input {
      padding: 0;
      border: none;
    }
  }

  .input-field-row {
    display: flex;
    align-items: center;

    input {
      padding: 0.5rem;
    }
  }
}

.form-input-chip-item {
  display: flex;
  height: 17px;
  align-items: center;
  margin: 0.25rem 0.3rem;
  font-size: 0.7rem;
  padding: 0.95rem 0.5rem;
  border: 1px solid $greyBorder;

  .btn-remove {
    padding: 0.2rem 0.5rem;
    margin-left: 0.3rem;
    border: none;
  }
}
