@import 'webapp/style/vars';
@import 'webapp/style/layoutMixins';

@keyframes not-logged-in__bg-animation {
  0%,
  100% {
    transform: scale(1, 1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 0.05;
  }
}

.guest__bg {
  @include full-screen-fixed();
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url('/img/not-logged-in-bg.jpg');
  opacity: 0.2;
  animation: not-logged-in__bg-animation 15s infinite;
}

.guest__openforis,
.guest__of-arena-logo {
  display: none;
}

@media screen and (max-width: 768px) {
  .guest__of-arena-logo {
    display: flex;
    margin: 1rem;

    img {
      height: 100px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .guest__openforis {
    position: fixed;
    width: 60px;
    right: 5vw;
    top: 0;
    border-left: 2px solid $green;
    border-bottom: 2px solid $green;
    border-right: 2px solid $green;
    padding: 10px;
    display: grid;
    grid-row-gap: 10px;
    z-index: $zIndex10TopOfApp;

    > div {
      padding: 10px 0;
      text-align: center;
      font-size: 1.25rem;
      color: white;
      text-transform: uppercase;
    }

    .openforis {
      background-color: rgba($green, 0.9);

      .separator {
        font-size: 0.3rem;
      }
    }

    .arena {
      background-color: rgba($red, 0.8);
    }
  }

  .guest__form {
    position: fixed;
    width: 30vw;
    min-width: 20rem;
    height: 60vh;
    top: 20vh;
    left: 35vw;
  }
}

.guest__form {
  margin: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  grid-row-gap: 2rem;

  .title {
    font-size: 1.5rem;
    text-align: center;
  }
}

.guest__form input {
  text-align: center;
  color: $black;
  background-color: white;
  font-size: 1rem;

  &:focus,
  &:active,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    background-color: lighten($greenLight, 10%);
    color: $black;
    -webkit-text-fill-color: $black;
    box-shadow: 0 0 0px 1000px lighten($greenLight, 10%) inset;
    -webkit-box-shadow: 0 0 0px 1000px lighten($greenLight, 10%) inset;
    font-family: $fontFamily;
    font-size: 1rem;
  }
}

.guest__buttons {
  width: 70%;
  display: grid;
  justify-self: center;
  grid-row-gap: 0.5rem;

  button[type='submit'] {
    border: none;
    background-color: rgba($green, 0.5);
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      background-color: rgba($green, 0.8);
    }
  }
}
