$fontFamily: 'Montserrat', sans-serif;

$headerHeight: 45px;
// colors

$red: #ed5b46;
$pink: #f7dfe3;
$green: #84ac67;
$greenLight: #f0f2e7;
$yellow: #fee997;

$grey: #E7E9EE;
$greyAppBg: lighten($grey, 5%);
$blue: #3885CA;
$blueLight: lighten($blue, 35%);
$blueLightFocus: lighten($blue, 45%);
$blueLightActive: lighten($blue, 25%);
$blueDark: darken($blue, 20%);
$greyBorder: #D1D1DD;
$orange: #EBA444;
$orangeLight: #F9CCB2;
$black: #2F3138;
$yellowHighlight: #F8F6CC;
$white: #FFFFFF;

//z-indexes

$zIndex1App: 1;
$zIndex5Badge: 5;
$zIndex6Tooltip: 6;
$zIndex10TopOfApp: 10;
$zIndex19AppModal: 19;
$zIndex20Dropdown: 20;
$zIndex80AppNotification: 80;
$zIndex90AppError: 90;
$zIndex180UserMenu: 180;
/* Policy: everything is below app loader to stop user action */
$zIndex190AppLoader: 190;

$shadow1: 0 0 4px rgba($black, .2);
$shadow2: 0 0 8px rgba($black, .2);
$shadow3: 0 0 8px 1px rgba($black, 0.2), 0 0 0 1px rgba($black, 0.1);

// table
$tableRowHeight: 35px;
$tableRowBorder: 1px solid $greyBorder;

// profile picture
$profilePictureBorder: 2px solid lighten($greyBorder, 10%);