// colors
$white: #dedccb;
$whiteLight: rgba($white, 0.6);
$red: #dc4242;
$blue1: #c6d6e1;
$blue2: #defbff;
$pink: #f9e1e2;
//$yellow: #debf32;
$yellow: #d6c990;
$grey: #d7d7d7;
$black: #202324;

//z-indexes
$zIndex1App: 10;
$zIndex10Dropdown: 10;