$fontFamily: 'Noto Sans', sans-serif;

$headerHeight: 45px;
// colors

$red: #ed5b46;
$pink: #f7dfe3;
$green: #84ac67;
$greenLight: #f0f2e7;
$yellow: #fee997;

$grey: #e7e9ee;
$greyAppBg: lighten($grey, 5%);
$greyBorder: #d1d1dd;
$blue: #3885ca;
$blueLight: lighten($blue, 35%);
$blueLightFocus: lighten($blue, 45%);
$blueLightActive: lighten($blue, 25%);
$blueDark: darken($blue, 20%);
$orange: #eba444;
$orangeLight: #f9ccb2;
$black: #2f3138;
$yellowHighlight: #f8f6cc;
$white: #ffffff;

$colorTextPrimary: darken($blue, 20%);
$borderColorFocussed: darken($blue, 20%);
$backgroundColorSecondary: $white;

//z-indexes

$zIndex1App: 1;
$zIndex5Badge: 5;
$zIndex6Tooltip: 6;
$zIndex10TopOfApp: 10;
$zIndex15UserMenu: 15;
$zIndex18PanelRight: 18;
$zIndex19AppModal: 19;
$zIndex20AppModalConfirm: 20;
$zIndex20Dropdown: 20;
$zIndex80AppNotification: 80;
$zIndex90AppError: 90;
/* Policy: everything is below app loader to stop user action */
$zIndex190AppLoader: 190;

$shadow1: 0 0 4px rgba($black, 0.2);
$shadow2: 0 0 8px rgba($black, 0.2);
$shadow3: 0 0 8px 1px rgba($black, 0.2), 0 0 0 1px rgba($black, 0.1);

// table
$tableRowHeight: 35px;
$tableRowBorder: 1px solid $greyBorder;

// profile picture
$profilePictureBorder: 2px solid lighten($greyBorder, 10%);
