@import "./vars";

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  outline: none;

  /* Browsers have different default form fonts */
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: inherit;
  word-wrap: break-word;
  color: $white;

  transition: all .5s ease;
}

input {
  padding: 20px 5px;
  background-color: transparent;

  &:not([readonly]):focus {
    background-color: rgba(44, 49, 44, 0.2);
  }
}

// buttons
button, .btn {
  padding: .7rem .8rem;
  font-weight: 200;
  border: 1px solid $whiteLight;

  &:hover {
    cursor: pointer;
    background-color: rgba($white, 0.25);
  }
}

.btn-s {
  padding: .5rem;
  font-weight: 100;
  font-size: 0.8rem;
}



$ofBorderColor: rgba($white, .6) !important;
$ofBorder: 3px double !important;
$ofBorderRadius: 255px 15px 225px 15px/15px 225px 15px 255px;
$ofBorderColorLight: rgba($white, .4) !important;
$ofBorderColorLightXs: rgba($white, .1) !important;

.of {
  border-radius: $ofBorderRadius;
  border: $ofBorder;
}

.btn-of {
  @extend .of;
  text-transform: uppercase;
  border-color: $ofBorderColor;
}

.btn-of-link {
  border: none !important;
  border-bottom: 3px double transparent !important;
  border-bottom-right-radius: 10% 2%;
  border-bottom-left-radius: 80% 10%;

  &:hover {
    background-color: transparent;
    border-bottom: 3px double rgba(222, 220, 203, 0.6) !important;
  }
}

.btn-of-light {
  @extend .btn-of;
  border-color: $ofBorderColorLight;
}

.btn-of-light-xs {
  @extend .btn-of;
  border-color: $ofBorderColorLightXs;
}

//dropdown
.dropdown {
  display: grid;
  grid-template-columns: .95fr .05fr;
  align-items: center;

  span.icon {
    color: $whiteLight;
    &:hover {
      cursor: pointer;
    }
  }
}

.dropdown-of {
  @extend .of;
  border-color: $ofBorderColorLight;
}

.dropdown__list {
  position: absolute;
  z-index: $zIndex10Dropdown;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-row-gap: .5rem;
  background-color: rgba($black, .6);
  padding: 1rem 0;
  justify-content: center;
}

.dropdown__list-item {
  padding: 1rem 0;
  grid-column: 2;
  text-align: center;
  font-weight: 200;
  color: rgba($white, 0.95);

  &:hover {
    cursor: pointer;
    background-color: rgba($black, .3);
  }
}