@import './vars';

input,
label,
select,
textarea,
a,
button,
.btn {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  outline: none;

  /* Browsers have different default form fonts */
  font-size: 0.9rem;
  font-family: $fontFamily;
  letter-spacing: 1px;
  font-weight: inherit;
  word-wrap: break-word;
  color: $black;

  //transition: all .1s ease;
}

select {
  border: 1px solid $greyBorder;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all;
}

a:hover {
  font-weight: 600;
}

a:focus,
a:active,
a:hover,
a:visited {
  outline: 0;
}

// buttons
button,
.btn {
  padding: 0.7rem 0.8rem;
  font-weight: 400;
  border: 1px solid $greyBorder;
  text-decoration: none;
  background-color: white;
  transition: 0.2s all;

  &.active {
    background-color: $blueLightActive;

    &:not(.deselectable) {
      pointer-events: none;
    }
  }
}

button:disabled,
*[aria-disabled='true'] {
  color: currentColor;
  display: inline-block; /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
  opacity: 0.9;
}

.btn-s {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.btn-xs {
  padding: 0.3rem;
  font-size: 0.8rem;
}

.btn-transparent {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: $blueDark;

  &:hover {
    color: $orange;
    background-color: transparent;
  }
}

.btn-danger,
.btn-primary.btn-danger {
  color: white;
  background-color: $red;
  border-color: rgba($red, 0.5) !important;
}

.btn-primary,
.btn-secondary,
.btn-cancel {
  font-weight: 600;
  min-width: 80px;
}

.btn-primary {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: lighten($blue, 15%);
  }
}

.btn-secondary {
  background-color: $greyAppBg;

  &:hover {
    background-color: darken($greyAppBg, 20%);
  }
}

.btn-cancel {
  color: $blue;
}

.button-bar {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;

  button {
    margin: 0 1.5rem;
  }

  .btn-delete {
    position: absolute;
    right: 0;
  }
}

.node_def__icon {
  font-size: small;
  font-family: monospace;
}

.MuiTextField-root {
  background-color: $inputBackgroundColor;

  input,
  textarea {
    padding: 0.4rem 0.6rem;
    background-color: $inputBackgroundColor;
  }

  .MuiInputBase-multiline {
    padding: 0;
  }
}

.MuiButtonBase-root.MuiButton-root {
  min-width: 0;
  text-transform: unset;

  &.btn-danger {
    color: $red;
  }

  &.btn-s {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
