@import "./vars";

input,
label,
select,
button,
textarea,
.btn {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  outline: none;

  /* Browsers have different default form fonts */
  font-size: .9rem;
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: inherit;
  word-wrap: break-word;
  color: $white;

  transition: all .5s ease;
}

input {
  padding: 20px 5px;
  background-color: transparent;

  &:not([readonly]):focus,
  &:not([readonly]):hover {
    background-color: rgba($white, 0.15);
  }

  &[readonly] {
    cursor: default;
  }
}

// buttons
button, .btn {
  padding: .7rem .8rem;
  font-weight: 400;
  border: 1px solid $whiteLight;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: rgba($white, 0.25);
  }
}

*[aria-disabled="true"] {
  color: currentColor;
  display: inline-block; /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
  opacity: .4;
  background-color: rgba(222, 220, 203, 0.1);
}

.btn-s {
  padding: .5rem;
  font-size: 0.8rem;
}

.btn-of {
  @include of;
  text-transform: uppercase;
  border-color: $ofBorderColor;

  &.active {
    //border-color: transparent !important;
    background-color: rgba($white, .45) !important;
    pointer-events: none;
  }
}

.btn-of-link {
  border: none !important;
  border-bottom: 1px solid transparent !important;
  border-bottom-right-radius: 10% 2%;
  border-bottom-left-radius: 80% 10%;

  &:hover {
    background-color: transparent;
    border-bottom: 1px solid rgba(222, 220, 203, 0.6) !important;
  }
}

.btn-of-light {
  @extend .btn-of;
  border-color: $ofBorderColorLight;
}

.btn-of-light-s {
  @extend .btn-of;
  border-color: $ofBorderColorLightS;
}

.btn-of-light-xs {
  @extend .btn-of;
  border-color: $ofBorderColorLightXs;
}

.btn-transparent {
  border: none !important;
}

.btn-danger {
  background-color: rgba($red, 0.5);
  border-color: rgba($red, 0.3) !important;

  &:hover {
    background-color: rgba($red, 0.8) !important;
  }
}