@import "./vars";

input,
label,
select,
textarea,
a,
button,
.btn {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  outline: none;

  /* Browsers have different default form fonts */
  font-size: .9rem;
  font-family: $fontFamily;
  letter-spacing: 1px;
  font-weight: inherit;
  word-wrap: break-word;
  color: $black;

  //transition: all .1s ease;
}

input {
  padding: 20px 5px;
  background-color: transparent;

  &:not([readonly]):focus {
    background-color: $blueLightFocus;
  }

  &[readonly] {
    cursor: default;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: .2s all;
}

a:hover {
  font-weight: 600;
}

a:focus,
a:active,
a:hover,
a:visited {
  outline: 0;
}

// buttons
button, .btn {
  padding: .7rem .8rem;
  font-weight: 400;
  border: 1px solid $greyBorder;
  text-decoration: none;
  background-color: white;
  transition: .2s all;

  &:hover {
    background-color: $blueLightFocus;

    &:not([aria-disabled="true"]) {
      cursor: pointer;
    }
  }

  &.active {
    background-color: $blueLightActive;
    pointer-events: none;
  }
}

*[aria-disabled="true"] {
  color: currentColor;
  display: inline-block; /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
  opacity: .5;
}

.btn-s {
  padding: .5rem;
  font-size: 0.8rem;
}

.btn-xs {
  padding: .3rem;
  font-size: 0.8rem;
}

.btn-transparent {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: darken($blue, 20%);

  &:hover {
    color: $orange;
    background-color: transparent;
  }
}

.btn-danger {
  color: white;
  background-color: $red;
  border-color: rgba($red, 0.5) !important;

  &:hover {
    background-color: rgba($red, 0.9) !important;
  }
}