@import "./vars";

input {

  padding: 20px 5px;

  color: $white;

  //width: 100%;
  outline: none;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
  background-color: transparent;
  transition: all .5s ease;

  &:not([readonly]):focus {
    background-color: rgba(44, 49, 44, 0.2);
  }
}

// buttons
button, .btn {
  outline: none;
  //width: 100%;
  padding: 1rem 1rem;
  font-weight: 100;
  font-size: 1.1rem;
  letter-spacing: 4px;
  word-wrap: break-word;
  color: $whiteLight;
  background-color: transparent;
  border: 1px solid $whiteLight;
  transition: all .5s ease;

  &:hover {
    cursor: pointer;
    background-color: rgba($white, 0.25);
  }
}

.btn-xs {
  padding: .5rem;
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.btn-link {
  border: none !important;

  &:hover {
    color: rgba($white, 0.95);
  }
}

$ofBorderColor: rgba($white, .7);
$ofBorder: 3px double !important;
$ofBorderRadius: 255px 15px 225px 15px/15px 225px 15px 255px;
$ofBorderColorLight: rgba($white, .4) !important;
$ofBorderColorLightXs: rgba($white, .1) !important;

.of {
  border-radius: $ofBorderRadius;
  border: $ofBorder;
}

.btn-of {
  @extend .of;
  text-transform: uppercase;
  border-color: $ofBorderColor;
}

.btn-of-light {
  @extend .btn-of;
  border-color: $ofBorderColorLight;
}

.btn-of-light-xs {
  @extend .btn-of;
  border-color: $ofBorderColorLightXs;
}

//dropdown
.dropdown {
  display: grid;
  grid-template-columns: .95fr .05fr;
  align-items: center;

  span.icon {
    color: $whiteLight;
    &:hover {
      cursor: pointer;
    }
  }
}

.dropdown-of {
  @extend .of;
  border-color: $ofBorderColorLight;
}