@import './layoutMixins';

// layout
.full-screen-fixed {
  @include full-screen-fixed();
}

.height100 {
  height: 100%;
}

.width50 {
  width: 50%;
}

.width100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.display-flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0;
}

.overflowYAuto {
  overflow-y: auto;
}

.p-1 {
  padding: 1rem;
}

.p-05 {
  padding: 0.5rem;
}

.p-t-05 {
  padding-top: 0.5rem;
}

.p-r-05 {
  padding-right: 0.5rem;
}

.p-b-05 {
  padding-bottom: 0.5rem;
}

.p-l-05 {
  padding-left: 0.5rem;
}
