@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,800,900');
@import "./vars";
@import "./layout";
@import "./form";
@import "./ico";

body, html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 18px/1.6 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  color: $white;
}

.main__bg {
  @extend .full-screen-fixed;
  background-size: cover;
  background-position: center;
}

.main__bg1 {
  @extend .full-screen-fixed;
  @extend .main__bg;
  background-image: url("/img/landing-bg.jpg");
}

.main__bg2 {
  @extend .full-screen-fixed;
  @extend .main__bg;
  background-image: url("/img/landing-bg2.jpg");
  transform: scale(1.3, 1.3);
  opacity: .95;
}

.main__bg-overlay:after {
  opacity: 0.8;
  background: transparent;
  background-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.25) 100%);
  background-repeat: repeat-x;
  content: '';
  display: block !important;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.error {
  color: $red;
}

.error-msg {
  color: $red;
  font-size: .8rem;
  font-weight: 600;
}

.title-of {
  border-bottom: 3px double $whiteLight;
  padding-bottom: .5rem;
  text-transform: uppercase;
  border-bottom-right-radius: 10% 2%;
  border-bottom-left-radius: 80% 10%;
}