@import url('/woff2.css');
@import "./vars";
@import "./layoutMixins";
@import "./formBase";
@import "./ico";
@import "./table";
@import "./layout";
@import "./reactTransitions";

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
  font: 14px/1.6 $fontFamily;
}

body {
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
  color: $black;
}

#main {
  width: 100vw;
  height: 100vh;
}

.main__system-error {
  @include full-screen-fixed();
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.main__system-error-container {
  padding: 1rem;
  background-color: $yellow;
  color: black;
  line-height: 3rem;
  text-align: center;
}

.hidden-transition {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.error {
  color: $red;
}

.separator-of {
  border-bottom: 1px double $greyBorder;
  border-bottom-right-radius: 10% 2%;
  border-bottom-left-radius: 80% 10%;
  width: 70%;
  justify-self: center;
}

.badge-of {
  padding: .15rem .3rem;
  font-size: .6rem;
  background-color: $blueLight;
  font-weight: 600;
}

.no-border {
  border: none !important;
}

// badge
.badge {
  position: absolute;
  z-index: $zIndex5Badge;
  padding: .4rem .5rem;
  display: grid;
  align-items: center;
  font-size: .8rem;
  font-weight: 600;
}

.badge__content {
  justify-self: start;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// buttons
.btn-primary, .btn-cancel {
  font-weight: 600;
  min-width: 80px;
}

.btn-primary {
  background-color: $blue;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: lighten($blue, 15%);
  }
}

.btn-cancel {
  color: $blue;
}
