@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import './vars';
@import './cssVars';
@import './layoutMixins';
@import './formBase';
@import './ico';
@import './table';
@import './layout';
@import './reactTransitions';

* {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

body,
html {
  height: 100%;
  overflow: hidden;
  font: 16px/1.6 $fontFamily;
}

body {
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
  color: $black;
}

#main {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  #main {
    /* 100vh not working properly in mobile devices browsers
     (see https://bugs.webkit.org/show_bug.cgi?id=141832) */
    height: 92vh;
  }
}

.main__system-error {
  @include full-screen-fixed();
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.main__system-error-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: black;
  line-height: 3rem;
  text-align: left;

  .error-message {
    color: red;
  }

  .error-message,
  .error-message__second-line {
    white-space: pre-line;
  }

  .error-details-textarea {
    width: 100%;
  }
}

.hidden-transition {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s,
    opacity 0.5s linear;
}

.error {
  color: $red;
}

.separator-of {
  border-bottom: 1px double $greyBorder;
  border-bottom-right-radius: 10% 2%;
  border-bottom-left-radius: 80% 10%;
  width: 70%;
  justify-self: center;
}

.badge-of {
  padding: 0.15rem 0.3rem;
  font-size: 0.6rem;
  background-color: $blueLight;
  font-weight: 600;
}

.no-border {
  border: none !important;
}

// badge
.badge {
  position: absolute;
  z-index: $zIndex5Badge;
  padding: 0.4rem 0.5rem;
  display: grid;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.badge__content {
  justify-self: start;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
