@import "../style/vars";

.table {
  overflow: hidden;
  position: relative;
}

.table__header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table__content {
  position: relative;
  padding: 15px;
  background-color: $white;
  height: calc(100% - 40px);
  border: $tableRowBorder;
}

.table__empty-rows {
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
}

.table__rows {
  position: absolute;
  overflow-y: auto;
  height: calc(100% - 50px);
  right: 15px;
  left: 15px;
}

.table__row {
  display: grid;
  align-items: center;
  justify-items: center;
  border-bottom: $tableRowBorder;
  height: $tableRowHeight;
  position: relative;
  font-size: .9rem;

  &.active {
    background-color: $yellowHighlight;
  }

  &:last-child {
    border-bottom: none;
  }

  > div {
    //width: calc(100% / 6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .btn {
    font-size: 0.7rem;

    &.active {
      background-color: $orangeLight;
    }
  }
}

.table__row.hoverable {
  cursor: pointer;
  transition: .2s all;

  .icon-action {
    transition: .2s all;
  }

  &:hover {
    background-color: rgba($blueLight, 0.3);

    .icon-action {
      color: $orange;
    }
  }
}

.table__row-header {
  @extend .table__row;
  border-bottom: none;
  background-color: $black;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
}

.table__paginator {
  align-self: normal;
  display: flex;

  button {
    padding: .3rem;
    margin: 0 .2rem;
    border: none;
    background-color: inherit;

    &:hover {
      background-color: inherit;
    }
  }

  .counts {
    font-size: 0.8rem;
    align-self: center;
    min-width: 100px;
    text-align: center;
    font-weight: 600;
    color: rgba($black, 0.8);
  }
}