@import "../style/vars";

$rowHeight: 35px;
$rowBorder: 1px solid $greyBorder;
$tableRowsHeight: calc(100% - 77px);

.table {
  overflow: hidden;
  position: relative;
}

.table__header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table__empty-rows {
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
}

.table__rows {
  position: absolute;
  overflow-y: auto;
  height: $tableRowsHeight;
  right: 0;
  left: 0;
}

.table__row {
  display: grid;
  align-items: center;
  justify-items: center;
  border-bottom: $rowBorder;
  height: $rowHeight;
  position: relative;
  font-size: .9rem;

  &.active {
    background-color: rgba($blueLightActive, .6);
  }

  > div {
    //width: calc(100% / 6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .btn {
    font-size: 0.7rem;
  }
}

.table__row-header {
  @extend .table__row;
  border-bottom-width: 2px;
  font-weight: 600;
  background-color: rgba($blueLight, 0.35);
  font-size: .8rem;
}

.table__paginator {
  button {
    padding: .3rem;
    margin: 0 .2rem;
  }

  .counts {
    font-size: 0.9rem;
    margin: 0 .8rem;
    align-self: center;
  }
}