.category-edit__import-summary {
  display: grid;
  grid-template-rows: 1fr auto;

  .table {
    .table__row-header,
    .table__row {
      grid-template-rows: unset;
      grid-template-columns: 30px .4fr .3fr .3fr;
    }

    .table__row {
      justify-items: left;
    }
  }

}

.category-edit__import-summary-footer {
  margin: auto;

  .btn-close {
    margin-left: 6rem;
  }

}
