@import "~@webapp/style/vars";

.sort-editor-popup {
  .sort-editor__criteria {
    padding-bottom: 2rem;

    .sort-row {
      display: flex;
      margin-bottom: .5rem;

      .sort-row__label {
        width: 6rem;
        font-size: 90%;
        padding-top: 0.4rem;
      }

      .sort-row__buttons {
        padding-left: 1rem;

        .btns__last {
          margin-left: .6rem;
        }
      }
    }
  }

  .sort-editor__footer {
    text-align: center;
    align-self: end;

    > button {
      margin: 0px .3rem;
      font-weight: 600;
    }
  }
}

.sort__query-container {
  display: flex;
  align-items: center;
}
