@import "../../style/vars";

$sidebarWidthClosed: 55px;
$sidebarWidthOpened: 200px;
$sidebarTransition: width 100ms ease-in;
$sidebarBtnBorder: 8px solid transparent;

.app-sidebar {
  position: relative;
  width: $sidebarWidthClosed;
  background-color: rgba($brown, 0.4);
  border-right: 1px solid rgba($white, 0.1);

  display: grid;
  grid-template-rows: $headerHeight .9fr .1fr;
  align-items: start;

  transition: $sidebarTransition;

  &.opened {
    width: $sidebarWidthOpened;
  }
}

.app-sidebar__modules {
  display: grid;
  grid-row-gap: 1.5rem;
}

.app-sidebar__module-btn {
  display: flex;
  align-items: center;
  border-left: $sidebarBtnBorder;
  border-right: $sidebarBtnBorder;
  padding: 0 10px;
  font-size: .8rem;
}

.app-sidebar__btn-toggle {
  border-left: $sidebarBtnBorder;
  border-right: $sidebarBtnBorder;
  padding: 0 10px;
}

//.app-sidebar__btn-of {
//  color: rgba($white, 0.5);
//  border-bottom: 1px solid rgba($white, 0.5) !important;
//  text-transform: uppercase;
//  font-weight: 600;
//  letter-spacing: -0.10rem;
//  font-size: .8rem;
//  padding: .3rem .5rem .15rem;
//
//  &:hover {
//    background-color: rgba($white, .1);
//    color: rgba($white, .75);
//    border-bottom: 1px solid rgba($white, 0.75) !important;
//  }
//}
