@import "../../style/vars";

$sidebarWidthClosed: 46px;
$sidebarWidthOpened: 200px;
//== buttons
$sidebarBtnMargin: 4px;
$sidebarBtnTransparent: $sidebarBtnMargin solid transparent;
//== popup-menu
$sidebarPopupMenuBgColor: lighten($blueLight, 7%);

//$sidebarTransition: width 100ms ease-in;

.app-sidebar {
  position: relative;
  width: $sidebarWidthClosed;
  background-color: rgba($grey, 0.6);
  border-right: 1px solid $blueLight;

  display: grid;
  grid-template-rows: 60px 1fr 80px 40px;
  align-items: start;
  //transition: $sidebarTransition;
}

.app-sidebar__modules {
  display: grid;
  grid-row-gap: .5rem;
}

.app-sidebar__module {
  display: grid;
  grid-row-gap: 20px;
  border-left: $sidebarBtnTransparent;
  border-right: $sidebarBtnTransparent;
  height: 56px;
  cursor: pointer;

  &[aria-disabled="true"] {
    opacity: .4;
  }

  &.active {
    border-right-color: $blueLight;
    background-color: rgba($blueLight, .2);

    &[aria-disabled="true"] {
      opacity: 1;
    }

    .icon {
      color: darken($blueLight, 45%);
    }
  }
}

.app-sidebar__module-btn {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: .85rem;

  &[aria-disabled="true"] {
    opacity: 1;
  }
}

.app-sidebar__module-child-btn {
  margin-left: 30px;
  font-size: .8rem;

  &.active {
    font-weight: bold;
  }
}

.app-sidebar__btn-toggle {
  margin: 0 $sidebarBtnMargin;
  padding: 10px;
}

//=== sidebar opened
.app-sidebar.opened {
  width: $sidebarWidthOpened;

  .app-sidebar__module {
    height: auto;
    padding: 15px 0;
    cursor: auto;
  }
}

//=== popup menu opened
.app-sidebar__popup-menu {
  position: fixed;
  z-index: $zIndex10TopOfApp;
  left: $sidebarWidthClosed;
  background-color: $sidebarPopupMenuBgColor;
  border-top: 1px solid $blueLight;
  border-right: 1px solid $blueLight;
  border-bottom: 1px solid $blueLight;
  display: grid;
  grid-row-gap: 1.5rem;
  padding: 25px 10px;

  .app-sidebar__module-child-btn {
    margin: 0;
  }

}

.app-sidebar__modules.menu-opened {
  .app-sidebar__module.over {
    background-color: $sidebarPopupMenuBgColor;

    &.active {
      border-right: $sidebarBtnTransparent;
    }
  }
}

//.app-sidebar__btn-of {
//  color: rgba($white, 0.5);
//  border-bottom: 1px solid rgba($white, 0.5) !important;
//  text-transform: uppercase;
//  font-weight: 600;
//  letter-spacing: -0.10rem;
//  font-size: .8rem;
//  padding: .3rem .5rem .15rem;
//
//  &:hover {
//    background-color: rgba($white, .1);
//    color: rgba($white, .75);
//    border-bottom: 1px solid rgba($white, 0.75) !important;
//  }
//}
