@import "../../style/vars";

$sidebarWidthClosed: 46px;
$sidebarWidthOpened: 200px;
$sidebarTransition: width 100ms ease-in;
$sidebarBtnMargin: 4px;

.app-sidebar {
  position: relative;
  width: $sidebarWidthClosed;
  background-color: rgba($grey, 0.6);
  border-right: 1px solid rgba($blueLight, 0.6);

  display: grid;
  grid-template-rows: $headerHeight .95fr .05fr;
  align-items: start;

  //transition: $sidebarTransition;
  &.opened {
    width: $sidebarWidthOpened;
  }

  *[aria-disabled="true"] {
    opacity: 1;
  }
}

.app-sidebar__modules {
  display: grid;
  grid-row-gap: .5rem;
}

.app-sidebar__module {
  display: grid;
  grid-row-gap: 20px;
  border-left: $sidebarBtnMargin solid transparent;
  border-right: $sidebarBtnMargin solid transparent;
  padding: 15px 0;

  &.active {
    border-right-color: $blueLight;
    background-color: rgba($blueLight, .1);
  }
}

.app-sidebar__module-btn {
  display: flex;
  align-items: center;
  //margin: 0 $sidebarBtnMargin;
  padding: 0 10px;
  font-size: .85rem;
}

.app-sidebar__module-child-btn {
  margin-left: 30px;
  font-size: .8rem;

  &.active {
    //color: $blueLight;
    font-weight: bold;
  }
}

.app-sidebar__btn-toggle {
  margin: 0 $sidebarBtnMargin;
  padding: 0 10px;
}

//.app-sidebar__btn-of {
//  color: rgba($white, 0.5);
//  border-bottom: 1px solid rgba($white, 0.5) !important;
//  text-transform: uppercase;
//  font-weight: 600;
//  letter-spacing: -0.10rem;
//  font-size: .8rem;
//  padding: .3rem .5rem .15rem;
//
//  &:hover {
//    background-color: rgba($white, .1);
//    color: rgba($white, .75);
//    border-bottom: 1px solid rgba($white, 0.75) !important;
//  }
//}
