@import 'webapp/style/vars';
@import '../SurveyFormVars';

.survey-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $formHeaderHeight;
}

.survey-form-header__label-container {
  display: flex;
  align-items: flex-end;

  .btn-add-sub-page {
    margin-left: 2rem;
    border: 1px dashed $greyBorder;
  }
}

.survey-form-header__btn-page-toggle {
  border: 1px solid $greyBorder;
  padding: 5px 5px 5px 9px;
  margin-right: 15px;
}

.survey-form-header__actions {
  display: flex;

  > *:not(:last-child) {
    margin: 0 1rem;
  }

  .error-badge {
    position: relative;
  }
}
.survey-form-header__options {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.survey-form-header__record-actions-steps {
  border: 1px solid $greyBorder;

  > * {
    margin: 0 0.5rem;
    font-size: 0.8rem;
  }
}
