@import 'webapp/style/vars';
@import '../SurveyFormVars';

.survey-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $formHeaderHeight;
}

.survey-form-header__label-container {
  display: flex;
  align-items: flex-end;

  button {
    border: 1px solid $grey;

    &:not(:first-of-type) {
      border-left: unset;
    }
  }
}

.survey-form-header__actions {
  display: flex;

  > *:not(:last-child) {
    margin: 0 1rem;
  }

  .error-badge {
    position: relative;
  }
}
.survey-form-header__options {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.survey-form-header__record-actions-steps {
  border: 1px solid $greyBorder;

  > * {
    margin: 0 0.5rem;
    font-size: 0.8rem;
  }
}
