@import 'webapp/style/vars';

.home-survey-info {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  .form {
    max-height: calc(100vh - 100px);
    grid-row-gap: 0;
  }

  .form-item {
    grid-template-columns: 0.2fr 0.65fr;
  }

  .lanuages_editor__input_chips {
    .dropdown {
      width: 20rem;
    }
  }

  .cycle-selector {
    width: 10rem;
  }

  .sample-based-image-interpretation,
  .extra-prop-defs-editor,
  .survey-configuration {
    justify-self: center;
  }

  .sample-based-image-interpretation {
    width: 80%;
  }

  .survey-configuration {
    width: 25rem;

    .form-item {
      grid-template-columns: 0.5fr 0.5fr;
    }
  }

  .survey-info-save-btn {
    margin-top: 2rem;
    align-self: center;
  }
}
