@import 'webapp/style/vars';

.home-survey-info {
  padding-top: 2rem;

  .form {
    max-height: calc(100vh - 100px);
    grid-row-gap: 1rem;
  }

  .form-item {
    grid-template-columns: 0.2fr 0.7fr;
  }

  .lanuages_editor__input_chips {
    .dropdown {
      width: 20rem;
    }
  }

  .cycle-selector {
    width: 10rem;
  }

  .sample-based-image-interpretation-form-item {
    align-items: baseline;
  }

  .btn-save {
    justify-self: center;
  }
}
