.dashboard-sampling-point-data-summary {
  display: flex;
  flex-direction: column;
  flex: 1;

  .internal-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
  }
}
