@import "../../../style/vars";

.expression-editor__btn-close {
  position: absolute;
  padding: 0;
  border-radius: 50% !important;
  background-color: rgba($red, 0.6);
  border: 1px solid rgba($red, 0.5) !important;
  width: 1.5rem;
  height: 1.5rem;
  top: -.7rem;
  left: -.75rem;

  .icon {
    opacity: .3;
    transition: opacity 250ms ease-out;
  }

  &:hover {
    background-color: rgba($red, 0.65);
    border: 1px solid rgba($red, 0.1) !important;

    .icon {
      opacity: .8;
    }
  }
}

.expression-editor__expr-container {
  overflow: auto;
  padding-bottom: 2rem;
  position: relative;

  //common
  .btns {
    display: grid;
    grid-template-columns: 2rem auto 1fr auto;
    align-items: center;
    width: 100%;

    .btns__add {
      grid-column: 2;
    }

    .btns__last {
      grid-column: 4;
    }

    .icon-plus {
      color: rgba($white, 0.6);
    }

    button {
      background-color: rgba($white, 0.1);
      border-color: rgba($white, 0.1) !important;
      font-weight: 600;
      font-size: .7rem;

      &:hover {
        background-color: rgba($white, 0.6);
      }

      &.active {
        background-color: rgba($white, 0.6) !important;
      }
    }

    .btn-delete {
      background-color: rgba($red, 0.3);
      color: $white;

      &:hover {
        background-color: rgba($red, 0.7);
      }
    }
  }

  input {
    padding: 0;
    text-align: center;
    height: 100%;
    border-bottom: 1px solid rgba($white, 0.1) !important;
    background-color: rgba($white, 0.1);
  }

  //types
  .binary {
    display: flex;

    .btns {
      width: 200px;
    }

    .dropdown, .literal {
      margin-right: 1.5rem;
    }

    .btn-switch-operand {
      font-size: .7rem;
      font-weight: 600;
      margin: 0 .1rem;
      padding: .3rem;
      align-self: flex-end;
      letter-spacing: -.05rem;
    }

  }

  .logical {
    display: grid;
    grid-row-gap: .8rem;
  }

  .group {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    padding: .5rem;
    border: 1px dotted rgba($white, .2);

    .footer {
      display: flex;
      grid-column: 1 / span 2;
      margin-top: 1rem;
    }
  }

}

.expression-editor__footer {
  text-align: center;
  align-self: end;

  > button {
    margin: 0px .3rem;
    font-weight: 600;
  }
}
