.expression-editor-popup__expr-container {
  .call {
    display: flex;
    gap: 0.5rem;

    .function-dropdown {
      width: 18rem;
    }
    .function-editor {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30rem;

      .form-item {
        display: flex;

        .form-label {
          width: 10rem;
        }
        .dropdown-wrapper {
          width: 20rem;
        }
      }

      .literal {
        width: auto;
      }
    }
  }
}
