@import "../../../style/vars";

.labels-editor {

  display: grid;
  grid-template-columns: 25px 1fr;
  grid-column-gap: 1rem;

  &.with-label {
    grid-template-columns: .2fr .65fr;
  }

  .labels-editor-label {
    text-align: end;
  }

  .btn-toggle-labels {
    padding: .4rem;
    margin-left: .5rem;
    height: 30px;
  }
}

.labels-editor__labels {
  display: grid;
  grid-row-gap: 1rem;
  max-height: 280px;
  overflow-y: auto;
}

.labels-editor__label {
  position: relative;
}

.labels-editor__label-lang-badge {
  position: absolute;
  right: 0;
  text-transform: uppercase;
}