@import 'webapp/style/vars';

.attribute-selector {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted $greyBorder;
  text-align: left;

  &.not-selectable {
    cursor: default !important;
  }

  .icon {
    font-size: 11px !important;
  }

  .node-def__icon-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;

    .node_def__icon {
      font-size: 9px;
      font-weight: 600;
      letter-spacing: 0;
    }
  }
}
