@import 'webapp/style/vars';

//== buttons
$sidebarBtnMargin: 1px;
$sidebarBtnTransparent: $sidebarBtnMargin solid transparent;
//== popup-menu
$sidebarPopupMenuBgColor: lighten($blue, 40%);

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $sidebarWidthClosed;
  min-width: $sidebarWidthClosed;

  .sidebar__header {
    height: 2rem;

    .sidebar__btn-open,
    .sidebar__btn-close {
      padding: 10px;
      position: absolute;
      top: 0;
    }
    .sidebar__btn-open {
      left: 15px;
    }
    .sidebar__btn-close {
      right: 15px;
    }
  }

  .sidebar__modules {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &.popup-menu-opened {
      .sidebar__module.over {
        background: $sidebarPopupMenuBgColor;
      }
    }
  }

  .sidebar__module,
  .sidebar__module-placeholder {
    display: grid;
    grid-row-gap: 15px;
    border-right: 1px solid $greyBorder;
    padding: 25px 15px;
    cursor: pointer;

    &[aria-disabled='true'] {
      opacity: 0.4;
    }

    &.active {
      border-right-color: $blue;
      background: linear-gradient(to left, rgba($blue, 0.1) 0%, rgba($blue, 0.04) 50%, transparent 80%);

      &[aria-disabled='true'] {
        opacity: 1;
      }

      .icon {
        color: $blue;
      }
    }
  }

  .sidebar__module-btn {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 0.85rem;

    &[aria-disabled='true'] {
      opacity: 1;
    }

    &:only-child.active {
      font-weight: bold;
      color: $blue;
    }
  }

  .sidebar__module-child-btn {
    margin-left: 30px;
    font-size: 0.8rem;

    &.active {
      font-weight: bold;
      color: $blue;
    }
  }

  //=== sidebar opened
  &.opened {
    width: $sidebarWidthOpened;
    min-width: $sidebarWidthOpened;

    .sidebar__module {
      cursor: auto;
      padding: 12px 15px;
    }

    .sidebar__module-placeholder {
      height: 30px;
      padding: 0;
    }
  }

  .version {
    width: $sidebarWidthOpened;
    padding: 10px 20px;
    font-size: 0.75rem;
    color: lighten($black, 25%);
    font-weight: 600;
    text-align: center;
  }
}

//=== popup menu opened
.sidebar__popup-menu {
  position: fixed;
  z-index: $zIndex10TopOfApp;
  left: $sidebarWidthClosed - 1px;
  background-color: $sidebarPopupMenuBgColor;
  border-top: 1px solid $greyBorder;
  border-right: 1px solid $greyBorder;
  border-bottom: 1px solid $greyBorder;
  display: grid;
  grid-row-gap: 1.5rem;
  padding: 30px 10px;

  .sidebar__module-child-btn {
    margin: 0;
  }
}
