@use '~@webapp/style/vars' as *;

.app-job-monitor {
  .modal-body {
    padding-top: 0;
  }

  .job-timing {
    font-size: 0.8rem;
    color: rgba($black, 0.55);
  }
}

.app-job-monitor__job-errors {
  justify-self: stretch;

  .expansion-panel__content {
    height: 18rem;
    max-height: calc(35vh - 2px);

    .validation-field_message {
      color: inherit;
    }
  }

  .data-grid {
    background-color: white;
  }
}

.app-job-monitor__inner-jobs {
  .expansion-panel__content {
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 0.5rem 0 0.5rem;
    background-color: white;

    .expansion-panel__content {
      padding: 0;
    }

    .job {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .name {
        font-size: 0.9rem;
      }

      .job-timing {
        grid-column: 2;
      }
    }

    .app-job-monitor__job-errors {
      padding: 0 1rem 2rem 1rem;
    }
  }
}
