@import 'webapp/style/vars';

.app-job-monitor {
  .modal-body {
    padding-top: 0;
  }
}

.app-job-monitor__job-errors {
  justify-self: stretch;

  .expansion-panel__content {
    height: 18rem;
    max-height: calc(35vh - 2px);

    .validation-field_message {
      color: inherit;
    }
  }
}

.app-job-monitor__inner-jobs {
  max-height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 2rem;
  padding: 2rem 1.5rem 0 1.5rem;
  background-color: white;

  .job {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;

    .name {
      font-size: 0.9rem;
    }
  }

  > div {
    margin-bottom: 2rem;
  }

  .app-job-monitor__job-errors {
    padding: 0 1rem 2rem 1rem;
  }
}
