@import "~@webapp/style/vars";


.processing-step__calculation.placeholder {
  display: none;
}

.processing-step__calculation.dragging * {
  pointer-events: none;
}

.processing-step.calculation-editor-opened {
  .processing-step__calculation-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .85rem;
    padding: 0 5px;
  }
}
