@use '~@webapp/style/vars' as *;

.profile-picture-editor {
  display: grid;
  justify-content: center;
  grid-row-gap: 0.75rem;

  canvas {
    border: $profilePictureBorder;
    margin: auto;
  }

  .btn-upload {
    padding: 0.2rem;
  }

  .profile-picture-placeholder-wrapper {
    border: $profilePictureBorder;

    .profile-picture-placeholder-img {
      margin: 10px;
    }
  }
}

.profile-picture-editor__sliders {
  justify-content: center;
  grid-row-gap: 0.5rem;

  .form-item {
    grid-template-columns: 70px auto;
  }

  .slider {
    padding: 0;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 4px;
    background: $blueLight;
    outline: none;
    opacity: 0.7;

    &:focus {
      background-color: $blueLight;
    }

    &:disabled {
      background: rgba($blueLight, 0.5);

      &::-webkit-slider-thumb {
        background: rgba($blue, 0.3);
      }

      &::-moz-range-thumb {
        background: rgba($blue, 0.3);
      }
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $blue;
    }

    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $blue;
    }

    &::-moz-focus-outer {
      border: 0;
    }
  }
}
