@import 'webapp/style/vars';

$dataTableMarginTop: 43px;
$rowHeaderHeight: 45px;

.data-query__container {
  .table__rows {
    overflow-y: hidden;
    overflow-x: auto;
    height: calc(100% - 20px);
  }

  .table__data-rows {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - #{$rowHeaderHeight});
    top: $rowHeaderHeight;

    .data-loading-error {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }

  .table__row-header {
    position: absolute;
    height: $rowHeaderHeight;

    .table__cell {
      display: flex;
      flex-direction: column;

      .table__cell-content-wrapper {
        display: flex;
        justify-content: center;
      }
    }

    .btn-aggregates {
      color: white;
      margin: 0 0.5rem 0 0.5rem;
      padding: 0;
    }
  }

  .table__row,
  .table__row-header {
    display: flex;

    > div {
      text-align: center;
    }
  }

  .table__row {
    .btn-transparent {
      color: $black;
      font-weight: 400;

      &:hover {
        color: $orange;
      }
    }

    .table__cell {
      border-left: 1px solid $greyBorder;
      display: grid;
      height: 100%;
      align-items: center;
      justify-items: right;
      padding: 0 1rem;
    }
  }

  .table__cell {
    overflow: hidden;
    width: 100%;

    .form-input {
      overflow: hidden;
    }

    .error-badge {
      position: relative;
      background-color: rgba($red, 0.4);
      padding: 0;
      font-weight: normal;

      .form-input:focus {
        background-color: rgba($red, 0.3);
      }
    }
  }

  .table__inner-cell {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .no-data {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-style: italic;
  }
}

.data-query__container.edit {
  .table__content {
    border: 1px dashed $greyBorder;
  }

  input {
    border-bottom: none;
  }

  .dropdown {
    width: 100%;
    height: 100%;
    border: unset;
  }

  .survey-form__node-def-table-cell-header {
    background-color: transparent;
    grid-row-gap: 0.5rem;
  }

  .table__cell.readonly {
    background-color: rgba($greyBorder, 0.5);
  }

  .table__row {
    .table__cell {
      padding: 0;
      > * {
        width: 100%;
        height: 100%;
      }
    }
  }
}
