@import 'webapp/style/vars';

.collect-import-report {
  .table__header {
    header {
      column-gap: 2rem;

      .form-item.exclude-resolved {
        text-transform: none;
        width: 20rem;
        grid-template-columns: 0.8fr 0.2fr;
      }
    }
  }
  .table__rows {
    height: calc(100% - 45px);
  }

  .table__row {
    padding: 0.2rem 0;
    min-height: 50px;
    height: auto;
    font-size: 0.8rem;

    input {
      font-size: 0.8rem;
    }

    div {
      white-space: pre-line;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 100%;
    }

    .icon-warning.warning {
      color: $orange;
    }

    .cell.icon {
      a {
        display: block;
      }
    }

    .full-width {
      width: 100%;
    }
  }
}
