@import 'webapp/style/vars';
@import './surveyFormVars';
@import './react-grid-layout';

.survey-form {
  display: grid;
  height: calc(100% - #{$formHeaderHeight});
  grid-template-columns: 250px 1fr;

  .react-grid-layout {
    .react-grid-item.cssTransforms {
      //react-grid-item css animation are disabled on first render
      transition-property: none;
    }

    .react-grid-item > .react-resizable-handle {
      display: none;
    }

    &.mounted {
      //react-grid-item css animation are enabled after component didMount
      .react-grid-item.cssTransforms {
        transition-property: transform;
      }
    }
  }
}

// Survey form grid style
.survey-form.page-navigation-off {
  grid-template-columns: 1fr;
}

// Survey form edit mode grid style
.survey-form.edit {
  grid-template-columns: 250px 1fr 200px;

  .react-grid-item {
    border: $formBorderEdit;

    > .react-resizable-handle {
      display: block;

      &::after {
        border-right: 2px solid $greyBorder;
        border-bottom: 2px solid $greyBorder;
      }
    }
  }
}

.survey-form.edit.page-navigation-off {
  grid-template-columns: 1fr 200px;
}

.survey-form.edit.form-actions-off {
  grid-template-columns: 250px 1fr 0;
}

.survey-form.edit.form-actions-off.page-navigation-off {
  grid-template-columns: 1fr 0;
}
