@import "../../../style/vars";

$tableBorderColor: rgba($white, .4);
$tableBorder: 1px solid $tableBorderColor;
$tableRowHeaderHeight: 40px;

.survey-form {
  display: grid;
  grid-template-rows: 50px 1fr;

  .node-def__form_page {
    border: 2px solid rgba($white, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }

  &.edit {
    grid-template-columns: 1fr 200px;

    &.form-actions-off {
      grid-template-columns: 1fr 0;

      .survey-form__actions {
        .btn-toggle {
          left: 0;
        }
      }
    }

    .survey-form__nav {
      grid-column: 1/3;
    }
  }

  //edit mode
  &.form-designer {
    .react-grid-item {
      border: 1px dashed rgba($blue1, .7);

      // inner page
      &.node-def__inner-form {
        border: 2px dashed rgba($white, .2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      }

      > .react-resizable-handle::after {
        border-right: 2px solid rgba($blue1, 0.7);
        border-bottom: 2px solid rgba($blue1, 0.7);
      }

    }

    .node-def__form_page {
      border: 2px dashed rgba($white, .4);
    }
  }

  .react-grid-item {
    &.node-def__inner-form {
      border: 2px solid rgba($white, .2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
  }
}

.survey-form__nav {
  display: flex;
  justify-content: space-between;
}

.survey-form__nav-node-def-navigation {
  display: flex;
  align-items: flex-end;
}

.survey-form__nav-record-actions {
  display: flex;
  align-self: center;

  > * {
    margin: 0 1rem;
  }

  .error-badge {
    position: relative;
  }

  .survey-form__nav-record-actions-steps > * {
    margin: 0 .5rem;
  }
}

.survey-form__actions {
  position: relative;
  display: grid;
  row-gap: 0.4rem;
  align-content: start;
  justify-content: center;
  grid-template-columns: .65fr;

  .btn-toggle {
    position: absolute;
    left: 1.3rem;
  }

  .title-of {
    text-align: right;
    padding-bottom: .1rem;
    opacity: .8;
  }

  .btn-add-node-def {
    background-color: rgba($green, 0.3);

    &:hover {
      background-color: rgba($green, 0.85);
    }
  }
}

// ======
// NODE DEF
// ======
.node-def__form_page {
  position: relative;
  overflow-y: auto;
}

.node-def__form {
  display: grid;
  position: relative;
  height: 100%;

  .form-input {
    text-overflow: ellipsis;
    text-align: right;
  }

  *[aria-disabled="true"] {
    opacity: .8;
  }

  .form-item {
    grid-template-columns: 175px 1fr;
  }

  //.badge {
  //  position: fixed;
  //}

}

.node-def__not-applicable {
  background-color: rgba($white, 0.15);
  opacity: .6;
}

.node-def__invalid {
  background-color: rgba($red, .1);
}

.node-def__form-actions {
  position: absolute;
  right: 1rem;
  background-color: rgba($greyDark, 0.9);
  padding: .2rem .3rem;
  z-index: $zIndex1App;

  display: flex;
  font-size: .8rem;
  align-items: center;
}

.node-def__form-root-actions {
  margin: 0 .5rem;
  padding: .2rem;

  input {
    padding: .2rem .2rem;
    width: 30px;
    border-bottom: 1px dashed rgba($blue1, 0.7);
    font-size: 1em;
    text-align: center;
  }
}

.node_def__icon {
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 0;
}

.node-def__inner-form-header {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

//===
//nodeDefEntity table
//===
.node-def__table {
  display: grid;
  align-self: start;
  grid-template-rows: $tableRowHeaderHeight 1fr;
  position: relative;
  height: 100%;
}

.node-def__table-header {
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: $tableRowHeaderHeight;
}

.node-def__table-rows {
  position: absolute;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  overflow-x: auto;
  overflow-y: hidden;
  //justify-self: center;
  //display: grid;
  //justify-items: center;
}

.node-def__table-row-header {
  position: absolute;
  display: flex;
  height: $tableRowHeaderHeight;
  //width: 100%;
  background-color: rgba($white, 0.2);
  //border: 1px solid $tableBorderColor;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  //top: 4px;

  .react-grid-item {
    display: grid;
    border-right: 1px solid transparent;
  }

}

.node-def__table-column-header {
  display: grid;
  //height: $tableRowHeaderHeight;

  label {
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
  }
}

.node-def__table-data-rows {
  position: absolute;
  top: 40px;
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

.node-def__table-row {
  position: relative;
  display: flex;

  .form-input {
    border: none;
    padding: 0 .5rem;
    overflow: hidden;
  }

  .react-grid-item {
    border-right: $tableBorder;
    border-bottom: $tableBorder;

    &:first-child {
      border-left: $tableBorder;
    }
  }

  &:first-child {
    .react-grid-item {
      border-top: $tableBorder;
    }
  }

}

.node-def__table-data-composite-attr {
  height: 100%;

  > div:not(:last-child) {
    border-right: $tableBorder;
  }
}

.node-def__table-row-coordinate {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.node-def__table-row-taxon {
  display: grid;
  grid-template-columns: .2fr .5fr .3fr;
}

// == data entry
.node-def__entry-multiple {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  .nodes {
    position: absolute;
    max-height: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
  }
}