.profile-picture {
  height: 240px;
  margin-bottom: 30px;

  img {
    height: 220px;
    display: block;
    margin: auto;
  }
}

.form {
  height: unset;

  &.user {
    width: 50%;
    align-content: center;
    margin: auto;

    .form-item {
      grid-template-columns: .1fr .9fr;

      .tooltip {
        &:hover {
          cursor: default;
        }
      }
    }

    .btn {
      justify-self: center;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
