@import 'webapp/style/vars';
@import './attributesSelector';
@import './nodeDefsSelectorView';

.node-defs-selector-aggregate {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  display: grid;
  justify-items: center;

  .accordion__header {
    @extend .attributes-selector__node-def-label;
  }

  .accordion__panel {
    @extend .node-defs-selector__container;
    position: relative;
  }
}

.node-defs-selector-aggregate__container {
  @extend .node-defs-selector__container;
}
