@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/hint/show-hint';
@import 'webapp/style/vars';

.CodeMirror-hints {
  z-index: $zIndex20Dropdown;
}

.expression-editor-popup {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 2rem;

  .query {
    background-color: rgba($blueLight, 0.15);
  }
}

.expression-editor-popup__editor-help {
  font-size: 0.9rem;

  kbd {
    border: 1px solid #aaa;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
    color: #000;
    padding: 0.1em 0.3em;
    font-family: inherit;
  }
}
.MuiButton-root.expression-editor-popup__toggle-advanced {
  position: absolute;
  right: 20px;
  width: 10rem;
}

.expression-editor__variables-search {
  max-width: 30ch;
}

.expression-editor-popup__autocompletions {
  table {
    border-spacing: 20px 0;
    margin-bottom: 15px;
  }
}
.expression-editor-popup__expr-container {
  margin-top: 1.5rem;
  position: relative;
  justify-self: center;
  width: 100%;

  // These must match, for the autocomplete to work properly.
  textarea {
    border: 1px solid black;
    margin-bottom: 15px;
  }
  textarea,
  span {
    font-size: 1rem;
  }

  //common
  .btns {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }

  input {
    text-align: center;
    height: 100%;
  }

  //types
  .binary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .binary-left,
    .binary-right {
      display: flex;
      flex: 1;

      .identifier,
      .dropdown-literal {
        width: 100%;
        max-width: 40rem;
      }
    }

    .binary-left {
      justify-content: end;

      &:only-child {
        justify-content: center;
      }
    }

    .btns {
      width: 160px;
    }

    .btn-switch-operand {
      font-size: 0.75rem;
      margin: 0 0.1rem;
      height: 32px;
      align-self: flex-end;
      text-wrap: nowrap;

      &.btn-switch-operand-const {
        width: 12rem;
      }
      &.btn-switch-operand-var {
        width: 7rem;
      }
    }

    .operator {
      width: 10rem;
    }

    .literal-btn-group-boolean {
      justify-content: space-between;
      width: 8rem;
      margin-left: 2rem;
    }
  }

  .literal {
    width: 100%;
    max-width: 40rem;

    .form-input {
      margin-left: 0.5rem;
      padding: 0.3rem;
      text-align: left;
    }
  }

  .logical {
    display: grid;
    grid-row-gap: 0.8rem;
  }

  .group {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    padding: 0.5rem;
    border: 2px dotted $greyBorder;

    .footer {
      display: flex;
      grid-column: 1 / span 2;
      margin-top: 1rem;
    }
  }
}

.expression-editor-popup__footer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;

  > button {
    margin: 0px 0.3rem;
    font-weight: 600;
  }
}
