@import 'webapp/style/vars';

.expression-editor {
  display: grid;
  grid-row-gap: 1.5rem;
}

.expression-editor__query-container {
  display: flex;
  align-items: center;
  min-height: 3rem;

  .query {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;

    .placeholder {
      opacity: 0.8;
      font-style: italic;
    }

    &.invalid {
      background-color: rgba($red, 0.8);
      color: white;
    }
  }
}
