.qr-code-login-dialog {
  .inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .qr-code-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
    }
  }

  .login-successful-message {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
}
