@import 'webapp/style/vars';
@import '../../../../SurveyFormVars';

.survey-form__node-def-code {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .form-input-chip {
    width: 100%;

    .form-input {
      width: auto;
      border: none;

      .form-input-chip-item {
        border: $formBorder;
        height: 22px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .dropdown-wrapper,
  .dropdown,
  .form-input-chip .dropdown {
    width: 100%;
  }
  .dropdown {
    height: 34px;
  }

  .code-checkbox-btn {
    cursor: pointer;
    &[aria-disabled='true'] {
      cursor: default;
    }
  }
}

.survey-form__node-def-multiple-edit-dialog {
  .survey-form__node-def-code {
    justify-content: center;
  }
}
