@import '~@webapp/style/vars';

.user-invite {
  width: 70%;
  margin: auto;
  padding-top: 1rem;
  grid-row-gap: 1.5rem;

  .form-item {
    grid-template-columns: 0.2fr 0.8fr;

    .tooltip {
      &:hover {
        cursor: default;
      }
    }

    .form-input-chip-text {
      .input-text {
        width: 30rem;
      }
    }
  }
}

.user-invite__warning-message {
  color: $orange;
  white-space: pre-line;
  text-align: center;
}

.user-invite__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
