@import "~@webapp/style/vars";

.node-def-edit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: $zIndex10TopOfApp;
  background-color: white;
}

.node-def-edit__container {
  height: 100%;
  display: grid;
  grid-template-rows: .9fr .1fr;

  .form {
    grid-row-gap: 1.5rem;
  }

  .form-item {
    grid-template-columns: .2fr .7fr;
  }

  .button-bar {
    display: flex;
    align-self: center;
    justify-content: center;
  }

}