@import "~@webapp/style/vars";

.node-def-edit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: $zIndex10TopOfApp;
  background-color: white;
}

.node-def-edit__container {
  height: 100%;
  display: grid;
  grid-template-rows: .9fr .1fr;

  .form {
    grid-row-gap: 1.5rem;
  }

  .form-item {
    grid-template-columns: .2fr .7fr;
  }

}

.node-def-edit__container .node-defs-selector__entity-selector {
  background-color: inherit;

  .form-input {
    text-align: left;
    font-size: .9rem;
    font-weight: inherit;
    padding: .5rem 1rem;
  }
}

.node-def-edit__cancel-confirm-dialog .modal-content {
  text-align: center;
  margin: 10vh 30vw auto;
}