@import "../../../../style/vars";

.collect-import-report {
  height: 100%;
  overflow-y: auto;
  position: relative;


  .table__row-header,
  .table__row {
    grid-template-columns: 60px repeat(5, .2fr) .1fr 30px;
    height: auto;
    font-size: .8rem;
  }

  .table__row-header {
    min-height: 40px;
  }

  .table__row {
    padding: .5rem 0;

    input {
      font-size: .8rem;
    }

    div {
      white-space: pre-line;
    }
  }
}
