.data-query {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 10px;
  justify-content: center;
  height: 100%;
}

.data-query.nodedefs-selector-off {
  grid-template-columns: 0 1fr;
}
