@import 'webapp/style/vars';

.guest-errors {
  background-color: $red;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  padding: 0.5rem;
  position: fixed;
  width: 30vw;
  left: 35vw;
  top: 20px;
}

@media screen and (max-width: 768px) {
  .guest-errors {
    width: 80vw;
    left: 10vw;
  }
}
