@use '~@webapp/style/vars' as *;

.user-edit {
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-row-gap: 0.4rem;

  .form-item,
  .form-item-container,
  .profile-picture,
  .expansion-panel {
    justify-self: center;
  }

  .dropdown-user-title {
    width: 10rem;
  }

  .form-item {
    height: auto;
    width: 100%;
    max-width: 40rem;

    .input-text {
      width: 100%;
    }

    .tooltip,
    .tooltip-error {
      &:hover {
        cursor: default;
      }
    }

    .form-input-container {
      justify-self: unset;
      max-width: 30rem;
    }

    .form-label {
      white-space: nowrap;
    }

    &.mobile {
      display: flex;

      .tooltip,
      .tooltip-error {
        width: 100%;
      }
    }
  }

  .profile-picture {
    margin-bottom: 20px;
  }

  .form-input-container {
    max-width: 20rem;
    justify-self: center;
  }

  .map-api-keys {
    width: 40rem;
    justify-self: center;

    .form-item {
      grid-template-columns: 0.3fr 0.7fr 5rem;
    }
  }

  .extra-props {
    .form {
      height: auto;
      grid-row-gap: 0;

      .form-item {
        width: 20rem;
        white-space: nowrap;

        .form-input-container {
          width: 12rem;
        }
      }
    }

    .btn-add {
      justify-self: center;
    }
  }

  .max-surveys-input {
    width: 5rem;
  }
}

.user-edit__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 3rem;
  margin-top: 1rem;

  .btn-back {
    align-self: flex-start;
  }

  .btn-save {
    align-self: center;
  }
}
