@import 'webapp/style/vars';

.user-edit {
  margin: auto;
  padding: 1rem;
  grid-row-gap: 0;
  width: 50rem;

  .profile-picture {
    margin-bottom: 20px;
    justify-self: center;
  }

  .form-item {
    grid-template-columns: 0.3fr 0.7fr;

    .tooltip {
      &:hover {
        cursor: default;
      }
    }
  }

  .map-api-keys {
    width: 100%;
    justify-self: center;

    .form-item {
      grid-template-columns: 0.3fr 0.7fr 5rem;
    }
  }

  .extra-props {
    .form-item {
      display: flex;
      white-space: nowrap;
    }
  }
}

.user-edit__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 3rem;

  .btn-back {
    align-self: flex-start;
  }

  .btn-save {
    align-self: center;
  }
}
