.data-export-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .expansion-panel__content {
    overflow: auto;
    max-height: calc(100vh - 30rem);
  }

  .form-item {
    .form-label {
      text-wrap: nowrap;
    }
  }
}
