@import 'webapp/style/vars';

.home-dashboard__survey-info {
  padding: 0.5rem;

  header h3 {
    position: relative;
    max-height: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 310px);
  }

  .survey-status {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0 0.5rem;
    color: lighten($black, 20%);
    margin-left: 1rem;
  }

  .btn-menu-export,
  .btn-menu-advanced {
    display: inline-block;
  }
}

.sidebar-open {
  .home-dashboard__survey-info {
    header h3 {
      max-width: calc(100vw - 460px);
    }
  }
}
