@import 'webapp/style/vars';

.home-dashboard__survey-info {
  padding: 1rem 2rem 1rem 1rem;

  header h3 {
    position: relative;
    max-height: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 35ch; /* max number of characters for ellipsis */
  }

  .survey-status {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0 0.5rem;
    color: lighten($black, 20%);
    margin-left: 1rem;
  }

  .btn-menu-export,
  .btn-menu-advanced {
    display: inline-block;
  }
}
