@import "~@webapp/style/vars";

.survey-delete-dialog__header {
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.survey-delete-dialog__body {
  display: grid;
  grid-row-gap: 2rem;

  .highlight {
    background-color: $yellow;
    color: black;
    line-height: 3rem;
    text-align: center;
  }

  .confirm-name {
    background-color: white;
    padding: 1rem;
    text-align: center;
  }
}
