.btn-sort-toggle {
  color: white;
  position: relative;

  .arrow-toggle {
    display: inline-block;
  }

  &.asc .arrow-toggle {
    transform: rotate(270deg);
  }

  &.desc .arrow-toggle {
    transform: rotate(90deg);
  }

  &.inactive .arrow-toggle {
    transform: rotate(0deg);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  .btn-sort-toggle-priority {
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 0.6rem;
    line-height: 1;
    font-weight: 600;
  }
}
