@import "../style/vars";
@import "../style/layoutMixins";

.app__container {
  background-color: lighten($grey, 5%);
  display: flex;
}

.app__modules {
  position: relative;
  display: grid;
  flex-grow: 1;
}

.app-module {
  flex-grow: 1;
  height: calc(100vh - 45px);
  display: grid;
  padding: 15px 25px;
}

.app-module__fade-enter {
  opacity: 0.01;
}

.app-module__fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.app-module__fade-exit {
  opacity: 1;
}

.app-module__fade-exit-active {
  opacity: 0.01;
  transition: opacity 150ms ease-out;
}