@import "../style/vars";
@import "../style/layoutMixins";

.app__container {
  background-color: lighten($grey, 5%);
  display: flex;
  height: calc(100vh - #{$headerHeight});
}

.app-module {
  position: relative;
  flex-grow: 1;
  padding: 15px 25px;

  > :first-child {
    height: 100%;
  }
}

.app-module__fade-enter {
  opacity: 0.01;
}

.app-module__fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.app-module__fade-exit {
  opacity: 1;
}

.app-module__fade-exit-active {
  opacity: 0.01;
  transition: opacity 150ms ease-out;
}