.statistical-analysis {
  display: flex;
  flex-direction: column;

  .entity-selector,
  .attributes-selector {
    width: 30rem;
  }

  .attributes-selector {
    max-height: 10rem;
    overflow-y: auto;

    .attribute-selector {
      width: 100%;
      margin: 0;
    }
  }
}
