@import "../../../style/vars";

.taxonomies__edit {
  display: grid;
  grid-template-rows: 8rem 5rem;
  align-items: center;
  margin: 0 5rem;

  .action-bar {
    display: grid;
    grid-template-columns: .5fr .5fr;

    .btn-upload, .btn-download {
      justify-self: center;
    }
  }

  .empty-taxa-message {
    justify-self: center;
    height: calc(100vh - 300px);
  }

  .taxa-table {
    display: grid;
    grid-template-rows: 2rem 1fr 40px;

    .position {
      text-align: right;
    }

    .header, .row {
      display: grid;
      grid-template-columns: 60px .1fr .2fr .2fr .4fr;
      grid-column-gap: .5rem;
    }

    .header {
      font-weight: 400;
      border-bottom: 1px solid rgba($white, .8)
    }

    .body {
      overflow-y: auto;
      height: calc(100vh - 340px);

      .row {
        border-bottom: 1px solid rgba($white, .5);
        grid-auto-rows: 35px;

        div {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .paginator {
      justify-self: center;
    }
  }
}

