@import "../../../style/vars";

.taxonomy-edit {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  align-items: center;
  margin: 0 5rem;

  .taxa-table {
    display: grid;
    grid-template-rows: 2rem 1fr 80px;

    .position {
      text-align: right;
    }

    .header, .row {
      display: grid;
      grid-template-columns: 60px .1fr .2fr .2fr .4fr;
      grid-column-gap: .5rem;
      align-items: center;
    }

    .header {
      font-weight: 400;
      border-bottom: 1px solid rgba($white, .8)
    }

    .body {
      overflow-y: auto;
      height: calc(100vh - 340px);
      border-bottom: 1px solid rgba($white, .5);

      .row {
        border-bottom: 1px solid rgba($white, .5);
        grid-auto-rows: 35px;

        div {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .row:last-child {
        border-bottom: none;
      }
    }

    .paginator {
      justify-self: center;
      align-self: center;

      button {
        padding: .5rem;
        margin: 0 .2rem;
      }

      .page-count {
        margin: 0 .8rem;
      }
    }
  }
}

.taxonomy-edit__empty-taxa {
  justify-self: center;
  align-self: start;
  padding-top: 1rem;
  font-style: italic;
}

.taxonomy-edit__header {
  display: grid;
  grid-template-columns: .75fr .25fr;

  .button-bar {
    display: flex;
    button {
      margin: 0 .5rem;
    }
  }
}

.taxonomy-edit__errors-table {
  height: calc(100vh - 450px);

  .header, .row {
    display: grid;
    grid-template-columns: .2fr .8fr;
  }

  .header {
    font-weight: 400;
    border-bottom: 1px solid rgba($white, .8)
  }

  .body {
    height: 100%;
    overflow-y: auto;
  }

  .row {
    border-bottom: 1px solid rgba($white, .5);
  }
}
