.nodedef-tree-select {
  position: relative;
  overflow-y: auto;

  .btn-expand {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 2;
  }

  &--expand-above {
    .btn-expand {
      position: static;
    }
  }

  .nodedef-tree-select__toolbar {
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
    min-height: 28px;
  }
}
