@import 'webapp/style/vars';

.analysis-node-defs-header {
  display: flex;
  justify-content: end;
  height: 3rem;
}

.analysis-node-defs-header__buttons {
  background-color: rgba($greyBorder, 0.6);
  display: flex;
  align-items: center;
  padding: 4px 8px;

  div {
    margin-right: 8px;
  }

  button {
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    min-width: 144px;

    .icon {
      font-size: 0.8rem !important;
    }

    .icon-left {
      margin-right: unset;
    }
  }
}

.analysis-node-defs-header__buttons_container{
  display: flex;
}

.analysis-node-defs-header__filter{
  margin-right: 8px;
}