@use '~@webapp/style/vars' as *;

.analysis-node-defs-header {
  display: flex;
  justify-content: end;
  height: 3rem;
}

.analysis-node-defs-header__buttons {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  height: 3rem;
  gap: 1rem;
}

.analysis-node-defs-header__buttons_container {
  display: flex;
  align-items: center;
}

.analysis-node-defs-header__filter {
  margin-right: 8px;
}
