@use '~@webapp/style/vars' as *;

.dialog-confirm {
  z-index: $zIndex20AppModalConfirm;

  .modal-content {
    text-align: center;

    ul {
      text-align: left;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .highlight {
      background-color: $yellow;
      color: black;
      line-height: 2rem;
      text-align: center;
    }

    .dialog-confirm__input-text {
      background-color: white;
      padding: 1rem;
      text-align: center;
    }

    ul {
      max-height: 6rem;
      overflow-y: auto;

      li {
        line-height: 2rem;
      }
    }
  }
}
