@import "../../../style/vars";

.survey-hierarchy {
  display: grid;
  grid-template-columns: 1fr 240px;
}

.survey-hierarchy__attributes {
  height: 100%;
  width: 100%;
}

.survey-hierarchy__tree {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;

  .node {
    circle {
      fill: $white;
      fill-opacity: .4;

      &.expandable {
        cursor: pointer;
        fill-opacity: .5;

        &:not(.expanded) {
          fill: $blue1;
          fill-opacity: .65;
        }

        &:hover {
          fill-opacity: .9;
        }
      }

      &.expanded {
        fill-opacity: .4;
      }
    }

    text {
      cursor: pointer;
      font-size: 13px;
      fill: $white;
      letter-spacing: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .link {
    fill: none;
    stroke: rgba($blue2, .8);
    stroke-width: 1.5px;
    stroke-opacity: .2;
  }

  rect {
    fill: black;
    stroke: none;
  }

}
