@import "../../../style/vars";

.survey-hierarchy {
  display: grid;
  grid-template-columns: 1fr 240px;
}

.survey-hierarchy__attributes {
  height: 100%;
  width: 100%;
}

.survey-hierarchy__tree {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;


  .node {
    cursor: pointer;

    circle {
      fill: #52849b;
      fill-opacity: .60;
    }

    text {
      font-size: 12px;
      fill: $white;
    }
  }

  .link {
    fill: none;
    stroke: rgba($blue2, .8);
    stroke-width: 1.5px;
    stroke-opacity: .2;
  }

  rect {
    fill: black;
    stroke: none;
  }

}
