// webapp/views/App/views/Home/Dashboard/TabSelector.scss
@import 'webapp/style/vars';

.tab-selector {
    display: flex;
    flex-direction: row;
}

.tab-selector__option{
    flex: 1;
    border: none;
    border-bottom: 2px solid $greyBorder;
    cursor: pointer;
    
    &.active {
        border-bottom: 2px solid $blue;
    }
    &:hover {
        color: $greyBorder;
        cursor: pointer;
    }
}