nox
pydata-sphinx-theme
sphinx<7
sphinx-notfound-page>=0.6
graphviz
sphinxcontrib-images
sphinx-icon
sphinx-btn
sphinx-design
sphinx-togglebutton
sphinx-favicon>=1.0.1
sphinx-intl
sphinxcontrib-email
sphinx-last-updated-by-git
jupyter-sphinx
sphinx-copybutton
m2r2>=0.3.3
sphinxcontrib-autoprogram
tomli
