.category__import-summary {
  display: grid;
  grid-template-rows: 1fr 50px;

  .modal-header {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .modal-content {
    margin: 5vh auto;
    height: 90vh;
    width: 70rem;
    padding: 2vh 1vw;
  }

  .modal-body {
    padding-top: 0;
  }

  .modal-footer {
    padding-top: 1rem;
    position: relative;

    .btn-close {
      position: absolute;
      left: 0;
    }
  }

  .table,
  .table__content {
    height: 100%;
  }

  .table {
    .table__row-header,
    .table__row {
      grid-template-columns: 50px 1fr 20rem 14rem;

      .column__extra-def {
        width: 100%;
        overflow: inherit;
      }
    }

    .table__row > div:not(:first-child):not(:last-child) {
      justify-self: left;
      padding: 0 1rem;
    }
  }
}
