@import "../../../../style/vars";

.survey-form__node-def-coordinate-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.3rem;

  .form-item {
    grid-template-columns: 40px 1fr;
  }
}

.survey-form__node-def-code-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .btn-checkbox {
    pointer-events: all;
    border-color: $blueDark;

    &[aria-disabled="true"] {
      pointer-events: none;
    }
  }

  .form-input {
    width: auto !important;
    border: none !important;
  }

  .dropdown {
    margin: 0.25rem 0.3rem;
    min-height: 24px;
  }
}

.node-def__taxon-autocomplete-list .item {
  display: grid;
  grid-template-columns: .3fr .7fr;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.node-def__taxon-wrapper {
  display: flex;
  flex-direction: column;
}

.node-def__text-multiple-text-input-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  border-top: 1px solid $blueDark;
  border-left: 1px solid $blueDark;
  border-right: 1px solid $blueDark;

  .form-input {
    border: none !important;
  }

  .btn-delete {
    border: none;

    &:hover {
      color: $orange;
    }
  }

  &:last-child {
    border-bottom: 1px solid rgba($blueDark, .9);

    .form-input {
      width: calc(100% - 2rem - 27px);
    }
  }
}

.node-def__text-multiple-table-cell {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 1rem;
  padding-right: .5rem;

  .values-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9rem;
  }

  button {
    border: none;

    &:hover {
      color: $orange;
    }
  }
}

.node-def__multiple-nodes-edit-modal {
  .modal-body {
    height: 40vh;
  }
}

.node-def__icon-key {
  opacity: .8;
}