@import 'webapp/style/vars';
@import '../SurveyFormVars';

// === page
.survey-form__node-def-page {
  position: relative;
  overflow-y: auto;
  background-color: $white;
  border-top: $formBorder;
  border-right: $formBorder;
  border-bottom: $formBorder;
}

// page style when form navigation is off
.survey-form.page-navigation-off {
  .survey-form__node-def-page {
    border-left: $formBorder;
  }
}

// page style in edit mode
.survey-form.edit {
  .survey-form__node-def-page {
    border-top: $formBorderEdit;
    border-right: $formBorderEdit;
    border-bottom: $formBorderEdit;
  }

  &.page-navigation-off {
    .survey-form__node-def-page {
      border-left: $formBorderEdit;
    }
  }
}

// === page item
.survey-form__node-def-page-item {
  display: grid;
  position: relative;
  height: 100%;
}

// === page / page item - not applicable
.survey-form__node-def-page,
.survey-form__node-def-page-item {
  &.not-applicable {
    background-color: rgba($greyBorder, 0.7);
    opacity: 0.6;

    &.hidden {
      display: none;
    }
  }
}

// === page / page item - read-only
.survey-form__node-def-page,
.survey-form__node-def-page-item {
  &.read-only {
    input,
    .survey-form__node-def-boolean,
    .survey-form__node-def-code,
    .dropdown__control {
      background-color: rgba($greyBorder, 0.2);
    }
  }
}

// === form item
.survey-form__node-def-form-item {
  grid-template-columns: 1fr !important;
  grid-template-rows: 30px 1fr;

  > :nth-child(1).form-label {
    align-self: end;
    justify-self: auto;
    margin: 0.5rem 0.5rem;
    font-weight: 600;
    text-align: left;
    font-size: 0.8rem;
  }

  > :nth-child(2) {
    padding: 0 0.5rem;
    align-self: start;
  }

  .icon-info {
    padding-left: 6px;
    cursor: pointer;
  }

  .form-input {
    text-overflow: ellipsis;
    text-align: left;
  }
}

//multiple node def
.survey-form__node-def-multiple-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow-y: auto;

  > *:first-child {
    left: 10px;
    right: 10px;
    overflow-y: auto;
  }

  &.auto-resize {
    height: auto;
    max-height: unset;
    overflow-y: unset;

    > *:first-child {
      height: auto;
    }
  }
}

// error badge
.survey-form__node-def-error-badge {
  padding-left: 0;

  .badge__content {
    display: flex;
    align-items: center;

    > .icon:not(:first-child) {
      margin-left: 6px;
    }
  }
}

.survey-form__node-def-form-item {
  .survey-form__node-def-error-badge {
    padding-bottom: 0;
    position: relative;
  }
}

.survey-form__node-def-text-multiple-container {
  .survey-form__node-def-error-badge {
    position: absolute;
  }
}

.survey-form__node-def-entity-table-row {
  .survey-form__node-def-error-badge {
    padding: 0;
    height: 100%;
    width: 100%;

    &.inside-table {
      position: absolute;
      left: 12px;
      top: 8px;
      width: 20px;
      height: 20px;
    }

    .badge__content {
      height: 100%;
      font-weight: 400;

      > *:first-child {
        width: 100%;
        height: 100%;
        display: flex;
      }

      .icon-warning {
        position: absolute;
        left: -0.5rem;
      }
    }
  }
}
