@import "../../style/vars";
@import "../../style/layoutMixins";

.app__container {
  @include full-screen-fixed();

  z-index: $zIndex1App;
  display: flex;
}

.app__modules {
  position: relative;
  display: grid;
  flex-grow: 1;
}

.app-module {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
}

.app-module__fade-enter {
  opacity: 0.01;
}

.app-module__fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.app-module__fade-exit {
  opacity: 1;
}

.app-module__fade-exit-active {
  opacity: 0.01;
  transition: opacity 150ms ease-out;
}

.app-module__tab-navigation {
  grid-template-rows: 35px 1fr !important;

  .tab-bar__header {
    align-content: start;
    align-items: start;

    .btn {
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      padding: .5rem .7rem;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 0 1px;
      opacity: .7;

      &:hover {
        opacity: .9 !important;
      }

      &.active {
        opacity: 1 !important;
      }
    }
  }

}