@import 'webapp/style/partials';

.analysis-node-def,
.analysis-node-defs__list-header {
  position: relative;
  display: grid;
  grid-template-columns: 40px 150px 200px 1fr 120px 120px repeat(2, 80px);
  grid-column-gap: 22px;
  align-items: center;

  > div {
    padding-left: 8px;
    @include line-clamp(1);
  }
}
.analysis-node-defs__list-header {
  margin-top: 16px;
  height: 32px;
  padding: unset;
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.analysis-node-def {
  font-size: 0.9rem;
  padding: 8px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $greyBorder;
  }

  .labels-editor {
    grid-template-columns: auto 1fr;

    input {
      border: unset;
    }
  }

  .analysis-node-def__entity-name {
    display: grid;
    grid-template-columns: 1fr;

    &.no-data {
      grid-template-columns: 1fr 25px;

      .entity-label,
      .badge {
        position: relative;
      }

      .entity-label {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.analysis-node-def.draggable-mirror {
  background-color: lighten($orangeLight, 10%);
  border: 1px dashed $blue;

  .analysis-node-def__btn-move {
    span {
      color: lighten($black, 5%);
    }
  }
}

.analysis-node-def.deleted {
  background-color: rgba($greyBorder, 0.4);
  opacity: 0.7;

  &:after {
    background-color: rgba($black, 0.4);
    content: '';
    display: inline-block;
    height: 1px;
    position: absolute;
    top: calc(50% + 1px);
    left: 2%;
    transform: translateY(-50%);
    width: 96%;
  }

  a {
    pointer-events: none;
    opacity: 0.6;
  }
}

.analysis-node-def__type {
  font-size: 0.8rem;

  .icon {
    font-size: 0.8rem !important;
  }
}

.analysis-node-def__btn-move {
  border: unset;
  background-color: unset;
  padding: unset;
  width: 32px;
  height: 16px;

  span {
    color: lighten($black, 30%);
  }

  &:hover {
    background-color: transparent;
    cursor: move !important;

    span {
      color: lighten($black, 5%);
    }
  }
}
