@import 'webapp/style/vars';

.node-def-edit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: $zIndex10TopOfApp;
  background-color: white;

  .form-item_row {
    display: flex;
    gap: 3rem;

    .form-item {
      display: flex;
    }
  }
}

.node-def-edit__container {
  height: 100%;
  display: grid;
  padding-top: 1.5rem;
  grid-template-rows: auto auto 0.9fr 0.1fr;
  grid-row-gap: 1.5rem;

  .form {
    grid-row-gap: 1.5rem;
  }

  .form-item,
  .labels-editor.with-label {
    grid-template-columns: 0.2fr 0.7fr;
  }

  .panel-right__content {
    .table {
      height: 100%;

      .badge {
        position: inherit;
      }
    }
  }

  .button-bar {
    .btn-next {
      margin-left: 5rem;
    }
    .btn-previous {
      margin-right: 5rem;
    }
  }

  .taxonomy-selector {
    display: flex;
    gap: 1rem;

    .dropdown-wrapper,
    .dropdown {
      width: 100%;
    }
  }
}

.form-item.node-def-edit__title {
  grid-template-columns: 0.2fr 0.6fr 0.1fr;

  .attribute-selector {
    align-self: flex-end;
    align-items: center;
    padding: 0.1rem 0.5rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.node-def-edit__container .node-defs-selector__entity-selector {
  background-color: inherit;

  .form-input {
    text-align: left;
    font-size: 0.9rem;
    font-weight: inherit;
    padding: 0.5rem 1rem;
  }
}

.node-def-edit__cancel-confirm-dialog .modal-content {
  text-align: center;
  margin: 10vh 30vw auto;
}
