@import 'webapp/style/vars';

.dropdown {
  .dropdown__control,
  .dropdown__indicators {
    min-height: 32px;
    height: 32px;
  }
  .dropdown__menu {
    z-index: 10;
  }

  .dropdown__option {
    display: grid;

    .dropdown-option__description {
      grid-row: 2;
      font-size: small;
      font-style: italic;
      white-space: pre-line;
      line-height: 1rem;
    }
    .dropdown-option__icon {
      grid-row: 1;
    }
  }
}

.tooltip-error {
  .dropdown {
    border: 1px solid red;
  }
}
