@import 'webapp/style/vars';

.dropdown {
  .dropdown__control,
  .dropdown__indicators {
    min-height: 32px;
    height: 32px;
  }
  .dropdown__menu {
    z-index: 10;
  }
}

.tooltip-error {
  .dropdown {
    border: 1px solid red;
  }
}
