@import 'webapp/style/vars';

.home-dashboard__records-summary__chart {
  height: 100%;
  width: 100%;
  position: relative;

  svg {
    position: absolute;
  }

  .y-axis,
  .x-axis {
    path,
    line {
      stroke: $greyBorder;
    }

    text {
      fill: lighten($black, 25%);
      font-weight: 600;
      font-size: 0.65rem;
    }
  }

  .data-points {
    fill: $blue;

    circle {
      cursor: pointer;
    }
  }

  .data-path {
    fill: none;
    stroke: rgba($blue, 0.6);
    stroke-width: 3;
    shape-rendering: geometricprecision;
    stroke-dasharray: 0;
    opacity: 1;
  }
}

.home-dashboard__records-summary__chart-data-point-tip {
  line-height: 16px;
  font-weight: 400;
  padding: 0.8rem 1rem;
  background: rgba($black, 0.9);
  border-radius: 2px;
  pointer-events: none;
  color: $white;
  opacity: 0;
  text-align: center;
  transition: opacity 0.2s ease-out 0.1s;

  .date {
    color: darken($white, 15%);
    font-size: 0.7rem;
    font-weight: 600;
  }

  .count {
    font-size: 0.8rem;
    color: $white;
  }
}

.home-dashboard__records-summary__chart-data-point-tip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba($black, 0.9) transparent transparent transparent;
}
