@import 'webapp/style/vars';

.processing-step__variables-previous-step-form-item.form-item {
  grid-template-columns: 150px 1fr;
}

.processing-step__variables-previous-step-table {
  height: 300px;
  width: 100%;

  .table__row-header,
  .table__row {
    grid-template-columns: 200px 80px 1fr 30px;
    column-gap: 1rem;

    &.highlighted {
      animation-name: animate-highlight;
      animation-duration: 4s;
    }
  }
}

@keyframes animate-highlight {
  0% {
    background-color: inherit;
  }
  30% {
    background-color: rgba($yellow, 0.7);
  }
  100% {
    background-color: inherit;
  }
}
