@import "webapp/style/vars";

.autocomplete-list {
  position: fixed;
  z-index: $zIndex20Dropdown;
  background-color: $blueLightFocus;
  justify-content: center;

  overflow-y: auto;
  max-height: 200px;
  font-size: .9rem;

  .item {
    padding: .4rem 0;

    &:hover, &:focus {
      cursor: pointer;
      background-color: rgba($blueLight, .5);
      outline: none
    }
  }
}
