@use '~@webapp/style/vars' as *;

.btn-checkbox {
  display: inline-flex;
  align-items: center;

  .tooltip {
    display: inline-flex;
  }

  .tooltip-error {
    .MuiCheckbox-root {
      color: $red;
    }
  }

  &.align-with-labelled-controls .MuiButtonBase-root {
    // same negative margin MUI applies to labelled controls (FormControlLabel)
    margin-left: -11px;
  }

  .info-icon-btn {
    padding: 0 0.5rem;
  }
}
