@import 'webapp/style/vars';

// form grid
.form {
  display: grid;
  height: 100%;
  grid-row-gap: 3rem;
  align-content: start;
}

.form-item {
  display: grid;
  grid-template-columns: 0.3fr 0.65fr;
  grid-column-gap: 0.5rem;
  height: 100%;
  align-items: center;
}

.form-label {
  justify-self: right;
  font-size: 0.9rem;
  text-align: end;
  padding-left: 2px;
  letter-spacing: 0.5px;

  .form-label-wrapper {
    display: flex;
    align-items: center;

    .btn-info {
      padding: 0 0 0 0.4rem;
    }
  }
}

.form-input-container {
  display: grid;
  width: 100%;
  height: 100%;

  &:focus-within {
    background-color: $blueLightFocus;
  }
}

.form-input {
  &[readonly] {
    border-bottom: 1px solid rgba($greyBorder, 0.5);
  }
}

.sampling-polygon-editor {
  border: solid black;
  border-radius: 50px;
  border-width: 2px;
  padding: 10px;
}
