@import 'webapp/style/vars';

.records {
  .table__row {
    .error-badge {
      left: 4rem;
      pointer-events: none;
      top: 0.5rem;
    }
    .date-created-col {
      display: flex;
      align-items: center;

      .app-icon {
        margin: 2px;
      }
    }
    .files-col {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      gap: 0.2rem;
    }
  }
}
