@import "../../../style/vars";

$rowHeight: 35px;
$rowBorder: 1px solid rgba($white, 0.4);

.surveys-list {
  margin: 0 4rem;

  .table__row, .table__row-header {
    grid-template-columns: repeat(5, 1.5fr) 1fr;
  }
}
