@import 'webapp/style/vars';

$tableHeaderHeight: 30px;

.records__header-left {
  display: flex;
  height: $tableHeaderHeight;
  column-gap: 1rem;
}

.records__header-left__input-search {
  padding: 0px 5px;
  border: 1px solid $greyBorder;
  background: white;
  width: 15rem;
}
