.records-data-export {
  .modal-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 3rem;

    .source-form-item {
      width: 40rem;

      .form-label {
        align-self: self-start;
        padding-top: 8px;
      }
    }
  }
}
