@import "../../style/vars";

.app-job-monitor {
  .modal-body {
    padding-top: 0;
  }
}

.app-job-monitor__job-errors {
  justify-self: stretch;

  .header, .row {
    display: grid;
    grid-template-columns: .35fr .65fr;
    font-size: .85rem;
  }

  .header {
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid rgba($white, .8);

    > * {
      padding: .3rem .5rem;
    }
  }

  .body {
    max-height: calc(35vh - 2px);
    overflow-y: auto;
  }

  .row {
    border-bottom: 1px solid rgba($white, .3);

    > * {
      padding: .3rem .5rem;
      word-break: break-all;
    }

    .item {
      border-left: 1px solid rgba($white, .3);
    }

    .item-error {
      border-left: 1px solid rgba($white, .3);
      border-right: 1px solid rgba($white, .3);
    }
  }

}

.app-job-monitor__inner-jobs {
  max-height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 2rem;
  padding: 2rem 1.5rem 0 1.5rem;
  background-color: rgba($grey, 0.05);

  .job {
    display: grid;
    grid-template-columns: .5fr .5fr;

    .name {
      font-size: .9rem;
      text-transform: uppercase;
    }
  }

  > div {
    margin-bottom: 2rem;
  }

  .app-job-monitor__job-errors {
    padding: 0 1rem 2rem 1rem;
  }
}
